.box {
    border: 1px solid $separator-color;
    padding: $gutter;
    margin-bottom: $box-margin;
    @include breakpoint($medium) {
        margin-bottom: $box-margin;
    }
    @include breakpoint($large) {
        padding: $box-padding;
    }

    .ts:last-child,
    .col2:last-child,
    .col3:last-child,
    .flex:last-child,
    .box:last-child {
        margin-bottom: 0;
    }

    &.box--vacio {
        border:none;
        padding: 0;
    }

    &.box--2xpadding {
        @include breakpoint($large) {
            padding: $box-padding * 2;
        }
    }

    @each $name, $color in $ctxt-colors {
        &.box--#{$name} {
            border: 0;
            background-color: $color;

            @if $name == 'gris-oscuro' {
                @extend %invert;
            }
            
            // Some overrides
            // .section__subtitle {
            //     color: $color;
            // }
    
            .ts-tab__category:before {
                background-color: $color;
            }
            
            .ts-tab__triangle:before {
                border-color: transparent transparent $color $color;
            }
        }
    }
}


.box--2col {
    @include breakpoint($medium) {
        display:flex;
        margin-top:$gutter;
        position:relative;
    }
}

.box--2col__left {
    @include breakpoint($medium) {
        width: 33%;
    }
}

.box--2col__right {
    @include breakpoint($medium) {
        width: 66%; 
        padding-left: $gutter * 2;
        margin-top: $gutter;
    }
}

.box--tab {
    position:relative;
    margin-top: $gutter + ritmo(5);

    @each $name, $color in $ctxt-colors {
        &.box--tab--#{$name} {
            background-color: $color;
            border: 1px solid $color;
            .box--tab__category {
                border-color: $color;
                background-color: $color;
                &:before {
                    background-color: $color;
                }
            }
            .box--tab__triangle {
                border-color: transparent transparent $color $color;
                &:before {
                    border-color: transparent transparent $color $color;
                }
            }
            &:before {
                background-color: $color;
            }
        }

    }
}

.box--tab__category {
    position:absolute;
    top: - ritmo(5);
    left: -1px;
    border: 1px solid $separator-color;
    border-bottom: none;
    padding: ritmo(2) $gutter / 2 0 $gutter;
    line-height:ritmo(3);
    height: ritmo(5);
    font-family: $futura;
    font-weight:bold;
    font-size: ritmo(2.5);
    text-transform: uppercase;
    &:before {
        content:"";
        position:absolute;
        height:1px;
        background-color: $white;
        bottom:0;
        left: 0px;
        right: 0px;
    }
}

.box--tab__triangle {
    position:absolute;
    top:-1px;
    bottom:1px;
    left:100%;
    width:0;
    height:0;
    border-width: ritmo(5) * 0.5 ritmo(1);
    border-color: transparent transparent $separator-color $separator-color;
    border-style: solid;
    transform:translateX(1px);
    &:before {
        content:"";
        position:absolute;
        top: - ritmo(2.5);
        left: - ritmo(1);
        width:0;
        height:0;
        border-width: ritmo(5) * 0.5 ritmo(1);
        border-color: transparent transparent $white $white;
        border-style: solid;
        transform:translate(-1px, 1px);     
    }
}

.box.box--half {
    border-left:none;
    padding-left: $gutter / 2;
    border-right:0;
    padding-right: $gutter / 2;
}