.carousel {
    max-width:100%;
}

.carousel__slides {
    margin-bottom: $gutter;
}

.carousel__controls {
    font-family: $font-secondary;
    color: $gray;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    text-align:center;
}

.carousel__item {
    img {
        max-width:100%;
    }
}

.carousel__link {
    width:100%;
    a {
        display:inline-block;
        padding: 0 $gutter;
        text-transform: uppercase;
        margin-top: $gutter / 2;
        padding-top: $gutter / 2;
        border-top: 1px solid $gray;
    }
}

// GALERIA

.galeria {
    padding: 0 $gutter;
    position:relative;
}

.galeria__prev,
.galeria__next {
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    &:before {
        content:"";
        width:$gutter;
        height: $gutter;
        border-width: 2px 2px 0 0;
        border-style:solid;
        border-color: $black;
        display:block;
    }
}

.galeria__slides {
    width:100%;
}

.galeria__item {
    margin: 0 $gutter;
    img {
        max-width:100%;
    }
}

.galeria__prev {
    left: 0;
    &:before {
        transform: rotate(-135deg);
    }
}

.galeria__next {
    right:0;
    &:before {
        transform: rotate(45deg);
    }
}