.ficha-autor {
    font-family: $font-secondary;
    .button {
        white-space: nowrap;
    }
}

.ficha-autor__category {
    text-transform: uppercase;
    margin-bottom: $gutter / 2;
}

.ficha-autor__ficha{
    border-top: 1px solid $separator-color;
    border-bottom: 1px solid $separator-color;
    padding: $gutter 0;    
    text-align:center;
    @include breakpoint($small) {
        text-align:left;
        display:flex;
        align-items:center;
    }
}

.ficha-autor__img {
    img {
        border-radius:50%;
    }
    display:inline-block;
    margin-bottom: $gutter;
    @include breakpoint($small) {
        margin-bottom:0;
    }
    .ts-flex__img & {
        margin-bottom:0;
    }
}

.ficha-autor__content {
    @include breakpoint($small) {
        margin-left: $gutter * 2;
    }
}

.ficha-autor__title {
    @extend .h3;
    font-family: $font-main;
    font-weight:bold;
    margin-bottom: $gutter / 2;
}

.ficha-autor__body {
    @include ritmo-font-size($h6-font-size, $h6-ritmo-lines);
}

.ficha-autor__meta {
    @include breakpoint($small) {
        display:flex;
        align-items:center;
    }
    @include ritmo-font-size($h6-font-size, $h6-ritmo-lines);
}

.ficha-autor__redes {
    @include inline-list();
    margin-left: auto;
    margin-top: $gutter;
    justify-content:center;
    @include breakpoint($small) {
        margin-top:0;
    }
    li {
        margin: 0 $gutter / 2;
        @include breakpoint($small) {
            margin: 0 0 0 $gutter / 2;
        }
        margin-bottom:0;
    }
    a {
        display:block;
        @include set-link(
            $black,
            $black,
            get-color(base, primary),
            get-color(base, primary)
        )
        i {
            vertical-align:bottom;
            svg {
                fill: $black;
            }
        }
    }
}
