.icon-h1 {
    height: $h1-font-size;
    width: auto;
    display: inline-block;
    svg {
        height: 100%;
        width: auto;
    } 
}

.icon-h2 {
    height: $h2-font-size;
    width: auto;
    display: inline-block;
    svg {
        height: 100%;
        width: auto;
    } 
}

.icon-h3 {
    height: $h3-font-size;
    width: auto;
    display: inline-block;
    svg {
        height: 100%;
        width: auto;
    } 
}

.icon-h4 {
    height: $h4-font-size;
    width: auto;
    display: inline-block;
    svg {
        height: 100%;
        width: auto;
    } 
}

.icon-h5 {
    height: $h5-font-size;
    width: auto;
    display: inline-block;
    svg {
        height: 100%;
        width: auto;
    } 
}

.icon-tw {

}

.icon-fb {

}

.icon-ig {

}