.imagen {

}

.imagen__caption {
    @include ritmo-font-size($h6-font-size, $h6-ritmo-lines);
    padding: $gutter / 2 0;
    font-family: $font-tertiary;
    @include breakpoint($medium) {
        display:flex;
        .articulo--vineta & {
            justify-content: flex-end;
        }
    }
    margin:0;
    .articulo--vineta & {
        text-align:right;
    }
    p {
        margin:0;
        display:inline;
    }
}

.imagen__autor {
    text-transform: uppercase;
    font-weight:bold;
    float:right;
    @include ritmo-font-size($h7-font-size, $h6-ritmo-lines);
    @include breakpoint($medium) {
        padding-left: $gutter / 2;
        margin-left: auto;
        .articulo--vineta & {
            margin-left: 0;
        }
    }
}