.mensaje {
    font-family: $font-secondary;
    text-align:center;
    margin: $gutter 0;
    position:relative;
}

.mensaje__promo {
    margin-top: $gutter / 2;
    @include breakpoint($medium) {
        margin-top:0;
        position:absolute;
        top:50%;
        right:0;
        transform:translateY(-50%);
    }
}