.section {
    margin-bottom: $section-margin / 2;
    position:relative;
    display:flex;
    flex-wrap:wrap;

    @include breakpoint($medium) {
        margin-bottom: $section-margin;
    }

    .box--2col & {
        @include breakpoint($medium) {
            height:100%;
            padding-bottom: 0;
            margin-bottom: 0;
            padding-right: $gutter * 2;
            border:none;
            border-right: 1px solid $separator-color;
            display:flex;
            flex-direction:column;
            justify-content:center;
        }
    }
    
    .articulo & {
        border-top: 2px solid $separator-color;
        padding-top: $gutter;
        @extend .section--border-none;
        padding-bottom:0;
        .section__title {
            font-weight:normal;
            @extend .h0;
        }
        .autor {
            text-align:center;
            margin-top: $gutter;
        }
    }
}


.section__category {
    text-transform: uppercase;
    @extend .font-secondary;
    margin-bottom: $gutter / 2;
    @include ritmo-font-size($h6-font-size, $h6-ritmo-lines);
    width:100%;
    &:after {
        content:">";
    }
    a {
        @include set-link(
            $black,
            $black,
            get-color(base, primary),
            get-color(base, primary),
            false,
            underline
        )
    }
    @include breakpoint($small) {
        width:auto;
    }
    @include breakpoint($medium) {
        .box--2col & {
            position:absolute;
            top:0;
            left:0;
        }
    }
}

.section__title__wrapper {
    width:100%;
    padding-bottom: $gutter;
    border-bottom: $filete;
    
    .section--border-none & {
        border-bottom:none;
        padding-bottom: 0;
        margin-bottom:0;
    }

    .section--border-top & {
        padding-top:$gutter;
        border-top: $filete;
        padding-bottom: 0;
        margin-bottom:0;
        border-bottom:none;
    }

    .section--border-all & {
        padding-top:$gutter;
        border-top: $filete;
    }
}

.section__title {
    text-align:center;
    font-weight:lighter;
    margin-bottom: 0;
    + .section__subtitle {
        margin-top: $gutter / 2;
    }
}


.section__subtitle,
.section__suptitle {
    width:100%;
    @include ritmo-font-size($h5-font-size, $h5-ritmo-lines);
    @include breakpoint($small) {
        @include ritmo-font-size($h4-font-size, $h4-ritmo-lines);
    }
    // @include breakpoint($medium) {
    //     @include ritmo-font-size($h3-font-size, $h3-ritmo-lines);
    // }
    text-align:center;
    margin:0;
    @extend .font-secondary;
    color: get-color(base, primary);
    text-transform: uppercase;
    letter-spacing: $letter-spacing;
    font-weight:bold;
    .box--2col & {
        margin-bottom: 0;
    }
}

.section__suptitle {
    margin-bottom: $gutter;
}

.section__subtitle--small {
    @include ritmo-font-size($h6-font-size, $h6-ritmo-lines);
    @include breakpoint($medium) {
        @include ritmo-font-size($h5-font-size, $h5-ritmo-lines);
    }
}

.section__subtitle--gris {
    color: $gray;
}

.section__body {
    @extend .body;
    text-align:center;
    max-width: 760px;
    max-width: 75ch;
    margin: $gutter auto;
}

.section__patrocinador {
    text-align:center;
    margin-bottom: $gutter / 2;

    @include breakpoint($small) {
        margin-left:auto;
    }

    span {
        font-family: $font-secondary;
        @extend .h6;
        margin-bottom: $gutter / 2;
        display:block;
        font-weight:bold;
    }
    img {
        max-height: $gutter * 2;
    }
}

.subsection {
    text-align:center;
    @extend .font-secondary;
    color: $black;
    text-transform: uppercase;
    @extend .h4;
    letter-spacing: $letter-spacing;
    font-weight:bold;
    margin-bottom: $ts-margin / 2;
    padding-bottom: $ts-margin / 2;
    border-bottom: 1px solid $separator-color;
}

// ESPECIAL

.section--especial {
    margin-bottom: $gutter * 2;
    margin-top: $gutter * 2;
    @include ritmo-bottom-border(4px, $lines:8);
    border-bottom-style: solid;
    border-bottom-color: $separator-color;
    @include ritmo-top-border(4px, $lines:8);
    border-top-style: solid;
    border-top-color: $separator-color;

    .section__title {
        font-weight:lighter;
        @extend .h0;
    }

    .section__category {
        position:absolute;
        top: - ritmo(8);
        left:0;
    }
}