
.col2 {
    display:flex;
    justify-content:space-between;
    margin-bottom: $gutter;
    .col {
        flex:1;
        max-width: calc(50% - #{$gutter});
        margin-bottom:0;
    }
}

.col2--equal-heights {
    > .col {
        display:flex;
        flex-direction:column;
        > .box {
            flex:1;
        }
    }
}