
.col2 {

    @include breakpoint($medium) {
        margin-bottom: $ts-margin;
        display:flex;
        justify-content:space-between;
    }

    > .col {
        margin-bottom: $box-margin;
        > div:last-child,
        > section:last-child,
        > article:last-child {
            margin-bottom:0;
        }
        // Enforces center until medium (instead of small) because cols have
        // less space available (they become "mobile" sooner)
        // > .ts {
        //     @include breakpoint(max-width $medium) {
        //         text-align:center;
        //         .body {
        //             margin-left: auto;
        //         }
        //     }
        // }
        @include breakpoint($medium) {
            margin-bottom: $box-margin;
            flex:1;
            max-width: 50%;
            margin-bottom:0;
            > .ts:last-child {
                margin-bottom:0;
            }
        }
    }

    &.col2--gutter {
        .col {
            @include breakpoint($medium) {
                max-width: calc(50% - #{$col-gutter / 4});
            }
            @include breakpoint($large) {
                max-width: calc(50% - #{$col-gutter / 2});
            }
        }
    }

    &.col2--gutter-left {
        @include breakpoint($medium) {
            .col:first-child {
                max-width:50%;
            }
            .col:last-child {
                max-width: calc(50% - #{$col-gutter / 2});
            }
        }
        @include breakpoint($large) {
            .col:last-child {
                max-width: calc(50% - #{$col-gutter});
            }
        }
    }
}

.col {
    &.col--expanded {
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        // Careful with margin collapsing!
        .ts {
            @include breakpoint($medium) {
                margin-bottom:0;
            }
        }
    }
    &.col--gutter-l {
        @include breakpoint($medium) {
            margin-left: $col-gutter;   
        }
    }
    &.col--gutter-r {
        @include breakpoint($medium) {
            margin-right: $col-gutter;
        }
    }
}

.col2--equal-heights {
    > .col {
        display:flex;
        flex-direction:column;
        > .box {
            flex:1;
        }
    }
}


.col2--separator {
    @include breakpoint($medium) {
        .col {
            max-width: 50%;
        }
        .col:first-child {
            padding-right: $col-gutter;
            border-right:1px solid $separator-color;
        }
        .col:last-child {
            padding-left: $col-gutter;
        }
    }
}

// 3


.col3 {
    margin-bottom: $box-margin;
    @include breakpoint($medium) {
        display:flex;
        justify-content:space-between;
    }
    > .col {
        margin-bottom: $col-gutter;
        @include breakpoint($medium) {
            margin-bottom:0;
            flex:1;
            max-width: calc(33.33% - #{$col-gutter});
            > .ts {
                margin-bottom:0;
            }
        }
    }
}

.col3--equal-heights {
    > .col {
        display:flex;
        flex-direction:column;
        > .box {
            flex:1;
        }
    }
}

// TEASER OVERRIDES

.col {
    @include breakpoint(max-width $medium) {
        .ts-flex,
        .ts-mitad {
            flex-direction:column;
        }
        .ts-flex__img,
        .ts-mitad__img, {
            order: -999;
            margin-bottom: $col-gutter / 2;
            padding:0;
            max-width:100%;
            width:100%;
        }
        .ts-flex__textos,
        .ts-mitad__textos {
            margin-left:0;
            margin-right:0;
        }
    }
}


// EL SISTEMA ANTERIOR

.col2-old {
    column-count: 2;
    column-gap: $col-gutter;
    > div,
    > section,
    > article {
        display:inline-block;
        width:100%;
    }
}