
.col2 {

    @include breakpoint($medium) {
        margin-bottom: $box-margin;
        display:flex;
        justify-content:space-between;
    }

    > .col {
        margin-bottom: $box-margin / 2;
        // Enforces center until medium (instead of small) because cols have
        // less space available (they become "mobile" sooner)
        > .ts {
            @include breakpoint(max-width $medium) {
                text-align:center;
                .body {
                    margin-left: auto;
                }
            }
        }
        @include breakpoint($medium) {
            margin-bottom: $box-margin;
            flex:1;
            max-width: calc(50% - #{$gutter});
            margin-bottom:0;
            > .ts {
                margin-bottom:0;
            }
        }
    }
}

.col2--equal-heights {
    > .col {
        display:flex;
        flex-direction:column;
        > .box {
            flex:1;
        }
    }
}

.col2--separator {
    @include breakpoint($medium) {
        .col {
            max-width: 50%;
        }
        .col:first-child {
            padding-right: $gutter * 2;
            border-right:1px solid $separator-color;
        }
        .col:last-child {
            padding-left: $gutter * 2;
            border-left:1px solid $separator-color;
        }
    }
}

// 3


.col3 {
    margin-bottom: $box-margin;
    @include breakpoint($medium) {
        display:flex;
        justify-content:space-between;
    }
    > .col {
        margin-bottom: $gutter;
        @include breakpoint($medium) {
            margin-bottom:0;
            flex:1;
            max-width: calc(33.33% - #{$gutter});
            > .ts {
                margin-bottom:0;
            }
        }
    }
}

.col3--equal-heights {
    > .col {
        display:flex;
        flex-direction:column;
        > .box {
            flex:1;
        }
    }
}

// TEASER OVERRIDES

.col {
    @include breakpoint(max-width $large) {
        .ts-flex,
        .ts-mitad {
            flex-direction:column;
        }
        .ts-flex__img,
        .ts-mitad__img, {
            order: -999;
            margin-bottom: $gutter;
            padding:0;
            max-width:100%;
            width:100%;
        }
        .ts-flex__textos,
        .ts-mitad__textos {
            margin-left:0;
            margin-right:0;
        }
    }
}


// EL SISTEMA ANTERIOR

.col2-old {
    column-count: 2;
    column-gap: $gutter;
    > div,
    > section,
    > article {
        display:inline-block;
        width:100%;
    }
}