.h0 {
    @include breakpoint(max-width $medium) {
        @include ritmo-font-size($h1-font-size, $h1-ritmo-lines);
    }
}

h1,.h1 {
    @include breakpoint(max-width $medium) {
        @include ritmo-font-size($h2-font-size, $h2-ritmo-lines);
    }
}
h2,.h2 {
    @include breakpoint(max-width $medium) {
        @include ritmo-font-size($h3-font-size, $h3-ritmo-lines);
    }
}
h3,.h3 {
    @include breakpoint(max-width $medium) {
        @include ritmo-font-size($h4-font-size, $h4-ritmo-lines);
    }
}
// h4,.h4 {
//     @include breakpoint(max-width $medium) {
//         @include ritmo-font-size($h5-font-size, $h5-ritmo-lines);
//     }
// }
// h5,.h5 {
//     @include breakpoint(max-width $medium) {
//         @include ritmo-font-size($h6-font-size, $h6-ritmo-lines);
//     }
// }

.autor {
    text-transform: uppercase;
    @extend .font-secondary;
    @extend .h4;
    span + span {
        &:before {
            content: "/";
            padding: 0 5px;
        }
    }
    &.autor--big {
        @extend .h3;
    }
    &.autor--small {
        @extend .h5;
    }
}


.ts {
    margin-bottom: $ts-margin;
    img {
        margin: 0 auto;
        display:block;
    }
    @include breakpoint(max-width $medium) {
        text-align:center;
    }
    .body {
        max-width: 50ch;
        margin-left:auto;
        margin-right: auto;
        @include breakpoint($large) {
            max-width: 65ch;
            margin-left:initial;
            margin-right: initial;
        }
    }
}

.tl,
.tc,
.tr {
    @include breakpoint(max-width $medium) {
        text-align:center !important;
    }
}

.body {
    @extend .h4;
    font-weight:lighter;
}

.body--big {
    @extend .h3;
    font-weight:lighter;
}

.separator {
    margin-top:$ts-margin / 2;
    margin-bottom: $ts-margin / 2;
    border: 1px solid $gray;
}

.mb--big {
    margin-bottom: $ts-margin;
}

.mt--big {
    margin-top: $ts-margin;
}

iframe {
    max-width:100%;
    display:block;
    margin: 0 auto;
}