.h0 {
    @include ritmo-font-size($h0-font-size, $h0-ritmo-lines);
    @include breakpoint(max-width $small) {
        @include ritmo-font-size($h1-font-size, $h1-ritmo-lines);
    }
}

h1,.h1 {
    @include breakpoint(max-width $small) {
        @include ritmo-font-size($h3-font-size, $h3-ritmo-lines);
    }
    @include breakpoint($small $medium) {
        @include ritmo-font-size($h2-font-size, $h2-ritmo-lines);
    }
}
h2,.h2 {
    @include breakpoint(max-width $small) {
        @include ritmo-font-size($h4-font-size, $h4-ritmo-lines);
    }
    @include breakpoint($small $medium) {
        @include ritmo-font-size($h3-font-size, $h3-ritmo-lines);
    }
}
h3,.h3 {
    @include breakpoint(max-width $medium) {
        @include ritmo-font-size($h4-font-size, $h4-ritmo-lines);
    }
}
// h4,.h4 {
//     @include breakpoint(max-width $medium) {
//         @include ritmo-font-size($h5-font-size, $h5-ritmo-lines);
//     }
// }
// h5,.h5 {
//     @include breakpoint(max-width $medium) {
//         @include ritmo-font-size($h6-font-size, $h6-ritmo-lines);
//     }
// }

input {
    background-color: $white;
    padding: ritmo($input-padding-lines);
}

.autor {
    @extend .font-tertiary;
    font-weight:bold;
    margin:0;
    @include ritmo-font-size($h6-font-size, $h5-ritmo-lines);
    &.autor--big {
        @include ritmo-font-size($h5-font-size, $h5-ritmo-lines);
    }
}

.fecha {
    font-style:italic;
    @extend .font-tertiary;
    @include ritmo-font-size($h6-font-size, $h6-ritmo-lines);
    color: $gray6;
}

.autor > .fecha {
    margin-left: $gutter / 2;
}

.autor br + .fecha {
    margin-left:0;
}

img {
    vertical-align:bottom;
}


.ts {
    margin-bottom: $ts-margin / 2;
    @include breakpoint($medium) {
        margin-bottom: $ts-margin;
    }
    @include breakpoint(max-width $small) {
        text-align:center;
    }
    img {
        margin: 0 auto;
        display:block;
    }
}

.ts--reducido {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .subtitle,
    .body {
        margin-bottom: $gutter / 2;
    }
}

.tl,
.tc,
.tr {
    @include breakpoint(max-width $small) {
        text-align:center !important;
    }
    .body,
    &.body {
        margin-left:auto;
        margin-right:auto;
    }
}

.body {
    @include breakpoint($medium) {
        @include ritmo-font-size($h4-font-size);
    }
    font-weight:lighter;
}

.body--big {
    @include ritmo-font-size($h4-font-size, $h4-ritmo-lines);
    @include breakpoint($medium) {
        @include ritmo-font-size($h3-font-size, $h3-ritmo-lines);
    }
}


.body--small {
    @include ritmo-font-size($h5-font-size, $h5-ritmo-lines);
}

.body--minimal {
    @include ritmo-font-size($h6-font-size, $h6-ritmo-lines);
}

.separator {
    margin-top:$ts-margin / 2;
    margin-bottom: $ts-margin / 2;
    @include breakpoint($medium) {
        margin-top:$ts-margin;
        margin-bottom: $ts-margin;      
    }
    border-bottom: 1px solid $separator-color;
}

iframe {
    max-width:100%;
    display:block;
    margin: 0 auto;
}

#main-wrapper {
    padding: 0 $gutter $gutter $gutter;
    @include breakpoint(max-width $medium) {
        padding: 0 $gutter / 2 $gutter / 2 $gutter / 2;
    }
}

%invert {
    h1,.h1,
    h2,.h2,
    h3,.h3
    h4,.h4
    h5,.h5,
    h6,.h6,
    p:not(.subtitle),
    span:not(.fecha),
    div {
        color: $white;
    }
    a {
        @include set-link(
            $white,
            $white,
            $gray,
            $gray
        )
    }
}

.font-tertiary {
    font-family: $font-tertiary;
}

@each $size in $size-ratios {
    .mw-#{$size} {
        max-width: percentage($size/100) !important;
    }
    .ts,
    .col2 {
        .mw-#{$size} {
            @include breakpoint(max-width $medium) {
                max-width:100% !important;
            }
        }
    }
}

.subtitle {
    font-family: $font-secondary;
    color: $gray6;
    text-transform: uppercase;
}

.h100 {
    height:100%;
    margin-bottom:0;
    margin-top:0;
}

.img-circle {
    border-radius: 50%;
    overflow:hidden;
    display:inline-block;
}

.link-layer {
    @include layer();
    z-index:1;
}