.box {
    @extend .p;
    @extend .b;
}

.autor {
    text-transform: uppercase;
    @extend .font-secondary;
    @include ritmo-font-size($h4-font-size);
    span + span {
        &:before {
            content: "/";
            padding: 0 5px;
        }
    }

}

.autor--big {
    @include ritmo-font-size($h3-font-size);
}

.ts {
    img {
        margin: 0 auto;
    }
    margin-bottom: $ts-margin;
    &:last-child {
        margin-bottom:0;
    }
}

.body {
    @include ritmo-font-size($h4-font-size);
    font-weight:lighter;
}

.body--big {
    @include ritmo-font-size($h3-font-size);
    font-weight:lighter;
}

.separator {
    margin-top:$ts-margin / 2;
    margin-bottom: $ts-margin / 2;
    border: 1px solid $gray;
}