.footer {
    background-color: $gray9;
    padding: $gutter;
    color: $gray5;
    margin:0;
    @include breakpoint($medium) {
        padding: $gutter * 2;
    }
    .body {
        color: $gray5;
    }
}

.footer__info {
    @include breakpoint($medium) {
        max-width: 45%; 
    }
    margin-bottom: $gutter * 2;
}

.footer__desc {
    margin: $gutter * 2 0;
} 

.footer__rrss {
    margin: $gutter * 2 0;
    p {
        font-family: $font-secondary;
        text-transform: uppercase;
        @include ritmo-font-size($h5-font-size);
    }
    ul {
        @include inline-list();
        flex-wrap:nowrap;
    }
    li {
        margin-right:$gutter / 2;
        &:last-child {
            margin:0;
        }
    }
    a {

    }
}

.footer__newsletter {
    margin: $gutter * 2 0;
    padding: $gutter;
    border: 1px solid $gray5;
    p {
        font-family: $font-secondary;
        text-transform: uppercase;
    }
    input {
        width:60%;
        margin: 0 0 0 auto;
        display:block;
    }
    input[type="email"] {
        background-color: $gray5;
        border-color: $gray5;
        margin-bottom: $gutter / 2;
    }
}

.footer__menu {
    margin: $gutter * 2 0;
    ul {

    }
    li {
        list-style-type: disc;
    }
    a {
        @include set-link(
            $gray5,
            $gray5,
            $base,
            $base,
            false,
            'underline'
        )
    }
}


.footer__medios {
    margin: $gutter * 2 0;
}

.footer__medios__title {
    font-family: $font-secondary;
    text-transform: uppercase;
    @include ritmo-font-size($h4-font-size);
}

.footer__medios__row {
    padding: $gutter 0 0 0;
    border-top: 1px solid $gray5;
    border-bottom: 1px solid $gray5;

    display:flex;
    flex-wrap: wrap;

    img {
        max-height: 75px;
        margin-right: $gutter;
        margin-bottom: $gutter;
    }
}