// Colors
$bg-color: #fff;
$dot-color: $gray4;

// Dimensions
$dot-size: 1px;
$dot-space: 6px;



.header__inner {
    border-top: $gutter / 2 solid $black;
    margin-top: -$gutter / 2;
}

.header__tagline {
    font-family: $avenir;
    text-transform: uppercase;
    color: $white;
    line-height:1;
    
    p {
        background-color: $black;
        display:inline-block;
        padding: $gutter / 8 $gutter / 2;
        margin:0;
        position:relative;
        font-weight:bold;
        @include ritmo-font-size($h6-font-size);
        letter-spacing: $letter-spacing * 3;
        
        &:before {
            content:"";
            position:absolute;
            top:0;
            left:100%;
            width:0;
            height:0;
            border-color: transparent transparent $black $black;
            border-width: ( $h6-font-size * $vertical-rhythm ) / 2;
            border-style:solid;
        }
    }
}

.header__top {
    @include breakpoint($small) {
        display:flex;
        flex-wrap:wrap;
        justify-content:space-between
    }
    @include breakpoint($medium) {
        flex-wrap:nowrap;
    }
    padding: $gutter;
    border-left: 1px solid $black;
    border-right: 1px solid $black;

    background:
        linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
        linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
        $dot-color;
    
    background-size: $dot-space $dot-space;
}

.header__issue {
    text-align:center;
    @include breakpoint($small) {
        text-align:left;
    }
}

.header__issue,
.header__user {
    @include breakpoint($small) {
        width:50%;
    }
}

.header__logo {
    text-align:center;
    margin: $gutter 0;
    @include breakpoint($small) {
        margin: $gutter 0 0 0;
    }
    @include breakpoint($small $medium) {
        width:50%;
        margin: $gutter auto 0 auto;
        order: 99999;
    }
    @include breakpoint($medium) {
        margin: 0;
    }
}

.header__issue,
.header__logo,
.header__user {
    @include breakpoint($medium) {
        width: 33%;
    }
}

.header__nav {
    border: 1px solid $black;
}

.header__user {
    display:flex;
    justify-content:center;
    align-items: flex-start;
    @include breakpoint($small) {
        justify-content:flex-end;
    }

    .button {
        line-height:1;
    }
}

.header__cart {
    margin: 0 0 0 ritmo(1);
    @include kill-link();
    .icon {
        margin:0;
        display: block;
        height: ritmo(4);
    }
}


// ISSUE

.issue {
    background-color: $white;
    padding: 0 $gutter / 8;
    display:inline-block;

    button,p {
        display:inline-block;
        vertical-align:top;
        padding:0;
    }
}

.issue__current {
    font-family: $futura;
    text-transform: uppercase;
    margin:0;
}

.issue__number {
    color: get-color(base, primary);
}