// Colors
$bg-color: #fff;
$dot-color: $gray;

// Dimensions
$dot-size: 1px;
$dot-space: 6px;

.header {
    margin-bottom:$gutter;
    text-align:center;
    @include breakpoint($medium) {
        position:sticky;
        top:0;
        background-color: $white;
        z-index:999;
    }
    .button {
        line-height:1;
        font-weight:bold;
    }
    &.header--mini {
        @include breakpoint($medium) {
            .header__patrocinado,
            .header__tagline {
                display:none;
            }
            .header__logo img {
                max-height: $gutter * 2;
            }
            .header__top {
                padding: $gutter / 2 $gutter;
            }
        }
    }
}

.header__inner {
    // border-top: $gutter / 2 solid $black;
    // margin-top: -$gutter / 2;
}

.header__tagline {
    font-family: $roboto;
    text-transform: uppercase;
    color: $white;
    line-height:1;

    
    p {
        // background-color: $black;
        display:inline-block;
        padding:0 $gutter $gutter / 2 $gutter;
        margin:0;
        position:relative;
        @include ritmo-font-size($h7-font-size);
        letter-spacing: $letter-spacing * 4;
        // @include breakpoint($medium) {
        //     &:before {
        //         content:"";
        //         position:absolute;
        //         top:0;
        //         left:100%;
        //         width:0;
        //         height:0;
        //         border-color: transparent transparent $black $black;
        //         border-width: ( $h6-font-size * $vertical-rhythm ) ( ( $h6-font-size * $vertical-rhythm ) / 2);
        //         border-style:solid;
        //         @include breakpoint($small) {
        //             border-width: ( $h6-font-size * $vertical-rhythm ) / 2;
        //         }
        //     }
        // }
    }

    a {
        @include kill-link($gray8);
    }
}

.header__top {
    // max-width: $max-width;
    margin: 0 auto;
    @include breakpoint($medium) {
        display:flex;
        justify-content:center;
        flex-wrap:nowrap;
    }
    padding: $gutter $gutter $gutter / 2 $gutter;
    // border-right: 1px solid $black;

    // background:
    //     linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
    //     linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
    //     $dot-color;
    
    // background-size: $dot-space $dot-space;
}

.header__issue {
    display:none;
    @include breakpoint($medium) {
        display:block;
        text-align:left;
    }
}

.header__issue__selector {
    margin-bottom: $gutter / 4;
}
.header__issue,
.header__user {
    @include breakpoint($medium) {
        width:50%;
    }
}

.header__logo {
    text-align:center;
    margin: 0 0 $gutter 0;
    @include breakpoint($medium) {
        margin: 0;
    }

    img {
        max-width:100%;
        max-height: $gutter * 4;
        transition: max-height 0.25s linear;
    }
}

.header__issue,
.header__logo,
.header__user {
    @include breakpoint($medium) {
        width: 33%;
    }
}
$scale-menu: 1000px;
$hide-menu: 750px;
.header__nav {
    border-top: 1px solid $separator-color;
}

.header__user {
    display:flex;
    justify-content:center;
    align-items: flex-start;
    @include breakpoint($medium) {
        justify-content:flex-end;
    }
    a {
        font-family: $avenir;
        @include ritmo-font-size($h6-font-size, $h6-ritmo-lines);
        @include set-link(
            $black,
            $black, 
            get-color(base, primary),
            get-color(base, primary),
            false, underline
        );
        margin-left: $gutter / 2;
        margin-right: $gutter / 2;
        @include breakpoint($medium) {
            @include ritmo-font-size($h5-font-size, $h5-ritmo-lines);
            margin-left: $gutter / 1.5;
            margin-right:0;
        }
    }
}

.button--header {
    background-color: $white;
}

.header__cart {
    span,.icon {
        vertical-align:baseline;
    }
    .icon {
        height: $h6-font-size;
        @include breakpoint($medium) {
            height: $h5-font-size;
        }
    }
}

.header__search {
    margin-left: $gutter / 4;
    @include set-link(
        $black,
        $black,
        get-color(base, primary),
        get-color(base, primary),
        false,
        false
    )
}


// ISSUE

.issue {
    background-color: $white;
    padding: 0 $gutter / 8;
    display:inline-block;
    font-family: $futura;

    div, ol, li, p {
        display:inline-block;
        vertical-align:top;
        padding:0;
    }
}

.issue__current {
    text-transform: uppercase;
    margin:0;
    a {
        @include set-link(
            $black,
            $black,
            get-color(base, primary),
            get-color(base, primary),
            false,
            false
        )
    }
}

.issue__number {
    color: get-color(base, primary);
}

.issue__next,
.issue__prev {
    font-weight:bold;
    font-size: 0.75em;
    display:inline-block;
    vertical-align:top;
}

.issue__next {
    padding: 0 0 0 $gutter / 4;
}

.issue__prev {
    padding: 0 $gutter / 4 0 0;
}