$scale-menu: 1000px;
$hide-menu: 750px;

.main-menu {
    margin:0;
    display:flex;
    align-items:flex-start;
    position:relative;
}

.main-menu__wrapper {
    flex: 1;
}

.main-menu__actions {
    display:flex;
    flex-direction:column;
    align-items:center;
    padding: ritmo(1) $gutter * 2;
    margin-bottom: $gutter / 2;
    display:none;
    @include breakpoint($hide-menu) {
        flex-direction:row;
        padding: ritmo(1) $gutter / 2;
    }
}

.main-menu__search {
    display:flex;
    align-items:center;
    margin-top: $gutter / 2;
    border-bottom: 1px solid $gray;
    margin-bottom: -1px;
    order: 999;
    input {
        padding: 0;
    }
    @include breakpoint($hide-menu) {
        margin-right: $gutter;
        margin-top:0;
        order: -1;
    }
}

.main-menu__list {

    margin-bottom:0;
    flex:1;
    margin-right: -1px;
    margin-left: -1px;
    display:none;
    padding:0;

    @include breakpoint($hide-menu) {
        display:flex;
        margin-right: -1px;
    }

    > li {
        @include breakpoint($hide-menu) {
            flex: 0 0 (100% / 7); // 100% / 7;
        }
        white-space:nowrap;
        margin:0;
        text-align:center;
        position:relative;
        text-transform: uppercase;
        > a {
            display:block;
            padding: $gutter / 4 $gutter / 2;
            font-weight:bold;
            @include kill-link();

            @include breakpoint($hide-menu $scale-menu) {
                @include ritmo-font-size($h6-font-size, 4);
            }
        }
        &:hover {
            border-left: 1px solid $black;
            border-right: 1px solid $black;
            ul {
                display:block;
            }
        }
    }
    // Second-level menu
    ul {
        @include breakpoint($hide-menu) {
            display:none;
            position:absolute;
            top:100%;
            top: calc(100% - 1px);
            background-color: $white;
            left:-1px;
            right:-1px;
            border: 1px solid $black;
            border-top: none;
        }
        padding: $gutter / 2;
        margin:0;
        > li {
            display:block;
            text-transform: initial;
            white-space:normal;
            margin-bottom: ritmo(2);
            line-height: 1;
            @include breakpoint($hide-menu) {
                text-align:left;
            }
            &:last-child {
                margin-bottom:0;
            }
            a {
                @include breakpoint($hide-menu $medium) {
                    @include ritmo-font-size($h6-font-size);
                    line-height: 1;
                }

                @include set-link(
                    $black,
                    $black,
                    $gray,
                    $gray,
                    false,
                    false,
                )
            }
        }
    }
}

.main-menu--open {
    .main-menu__actions {
        display: flex;
    }
    .main-menu__list {
        display:block;
        @include breakpoint($hide-menu) {
            display:flex;
        }
        background-color: $white;
        margin-right: 0;
        margin-left: 0;
        padding-bottom: ritmo(2);
        ul {
            position:relative;
            top:0;
            left:0;
            right:0;
            display:block;
            border:0;
            background-color: transparent;
        }
        > li {
            &:hover {
                border:none;
            }
            > a {
                @include breakpoint($hide-menu) {
                    text-align: left;
                }
            }
        }
    }

    .menu-toggle {
        position:absolute;
        top:0;
        left:0;
        z-index: 9;
        @include breakpoint($hide-menu) {
            position:static;
        }
    }
}

.menu-toggle {
    padding:ritmo(0.5) $gutter / 2;

    .icon {
        margin:0;
        height: ritmo(5);
        vertical-align:middle;
    }
}