<section class="comentarios">
    <h1 class="comentarios__title">3 comentario(s)</h1>
    <p>¿Quieres decir algo? <a href="#">+ Déjanos un comentario</a></p>

    <ol>
        <li>
            <article class="comentario">
                <h1>Amaia</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum sed repellendus commodi? Doloremque, quae ipsa iste ex quasi necessitatibus consequatur laudantium. Distinctio iure atque eaque minus vel voluptatum expedita minima.</p>
                <p class="fecha">Hace 1 hora y 15 minutos</p>
            </article>
        </li>
        <li>
            <article class="comentario">
                <h1>Marco</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum sed repellendus commodi? Doloremque, quae ipsa iste ex quasi necessitatibus consequatur laudantium. Distinctio iure atque eaque minus vel voluptatum expedita minima.</p>
                <p class="fecha">Hace 1 hora y 15 minutos</p>
            </article>
        </li>
        <li>
            <article class="comentario">
                <h1>Vitin</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum sed repellendus commodi? Doloremque, quae ipsa iste ex quasi necessitatibus consequatur laudantium. Distinctio iure atque eaque minus vel voluptatum expedita minima.</p>
                <p class="fecha">Hace 1 hora y 15 minutos</p>
            </article>
        </li>
        <li>
            <article class="comentario">
                <h1>Amaia</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum sed repellendus commodi? Doloremque, quae ipsa iste ex quasi necessitatibus consequatur laudantium. Distinctio iure atque eaque minus vel voluptatum expedita minima.</p>
                <p class="fecha">Hace 1 hora y 15 minutos</p>
            </article>
        </li>
        <li>
            <article class="comentario">
                <h1>Mariano Brey</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum sed repellendus commodi? Doloremque, quae ipsa iste ex quasi necessitatibus consequatur laudantium. Distinctio iure atque eaque minus vel voluptatum expedita minima.</p>
                <p class="fecha">Hace 1 hora y 15 minutos</p>
            </article>
        </li>
    </ol>

</section> 