<nav class="nav doc-menu">
    <ul class="list--inline font-secondary">
        <li><a href="./docs.html" rel="noopener noreferrer">Todo el sitio</a></li>
        <li><a href="./tsflex.html" rel="noopener noreferrer">Teaser Flexible</a></li>
        <li><a href="./tsmitad.html" rel="noopener noreferrer">Teaser Mitad</a></li>
        <li><a href="./tsflotante.html" rel="noopener noreferrer">Teaser Flotante</a></li>
    </ul>
</nav>