<nav class="main-menu">
    <button class="menu-toggle">
        <span class="visually-hidden">Mostrar menú</span>
        <i class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path fill="none" d="M0 0h24v24H0V0z" />
                <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" /></svg>
        </i>
    </button>
    <div class="main-menu__wrapper">
        <div class="main-menu__actions">
            <form class="main-menu__search" action="">
                <i class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path fill="none" d="M0 0h24v24H0V0z" />
                        <path
                            d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z" />
                        </svg>
                </i>
                <input type="search" name="search" id="search">
            </form>
        </div>
        <ul class="main-menu__list">

            <li>

                <a href="http://test.ctxt.es/es/20190227/política/">Contextos</a>
            </li>
            <li>

                <a href="http://test.ctxt.es/es/20190227/firmas/">Firmas</a>

            </li>
            <li>

                <a href="http://test.ctxt.es/es/20190227/culturas/">Ministerio</a>
            </li>
            <li>
                <a href="/es/?tpid=113&amp;tpl=22">Editoriales</a>
            </li>
            <li>
                <a href="/es/?tpl=77&amp;tpid=403">Crisis Ecosocial</a>

            </li>
            <li>
                <a href="/es/?tpl=77&amp;tpid=393">Feminismos</a>
            </li>
            <li>
                <a href="/es/?tpl=77&amp;tpid=181">Entrevistas</a>
            </li>
            <li>

                <a href="http://test.ctxt.es/es/20190227/deportes/">Deportes</a>
            </li>
            <li>
                <a href="/es/?tpid=299&amp;tpl=22">Viñetas</a>
            </li>
            <li>
                <a href="https://ctxt.cat/" target="_blank">Ctxt.cat</a>
            </li>
            <li>
                <a href="/es/?tpid=312&amp;tpl=22">Ctxtán TV</a>
            </li>
            <li>
                <a href="#" class="button button--primary--bg">Suscríbete</a>
            </li>

        </ul>
    </div>
</nav>