<nav class="main-menu">
    <button class="menu-toggle">
        <span class="visually-hidden">Mostrar menú</span>
        <i class="icon">
            <svg xmlns="http://www.w3.org/2000/svg"viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/></svg>
        </i>
    </button>
    <ul class="main-menu__list">
        <li>
            <a href="#">Política</a>
            <ul>
                <li><a href="#">Item 1</a></li>
                <li><a href="#">Segundo item</a></li>
                <li><a href="#">Hola que tal</a></li>
                <li><a href="#">Item especialmente largo</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Firmas</a>
            <ul>
                <li><a href="#">Item 1</a></li>
                <li><a href="#">Segundo item</a></li>
                <li><a href="#">Hola que tal</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Culturas</a>
            <ul>
                <li><a href="#">Item 1</a></li>
                <li><a href="#">Segundo item</a></li>
                <li><a href="#">Hola que tal</a></li>
                <li><a href="#">Item especialmente largo</a></li>
                <li><a href="#">Yo tengo un item mas</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Deportes</a>
            <ul>
                <li><a href="#">Item 1</a></li>
                <li><a href="#">Segundo item</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Viñetas/media</a>
            <ul>
                <li><a href="#">Item 1</a></li>
                <li><a href="#">Segundo item</a></li>
                <li><a href="#">Hola que tal</a></li>
                <li><a href="#">Item especialmente largo</a></li>
                <li><a href="#">Item 1</a></li>
                <li><a href="#">Segundo item</a></li>
                <li><a href="#">Hola que tal</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Especiales</a>
            <ul>
                <li><a href="#">Item 1</a></li>
                <li><a href="#">Segundo item</a></li>
                <li><a href="#">Hola que tal</a></li>
                <li><a href="#">Item especialmente largo</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Autores</a>
            <ul>
                <li><a href="#">Item 1</a></li>
                <li><a href="#">Segundo item</a></li>
                <li><a href="#">Hola que tal</a></li>
                <li><a href="#">Item especialmente largo</a></li>
            </ul>
        </li>
    </ul>
</nav>