// @font-face {
//     font-family: 'Avenir Next Condensed';
//     src:    url('../fonts/AvenirNextCondensed-Bold.woff2') format('woff2'),
//             url('../fonts/AvenirNextCondensed-Bold.woff') format('woff');
//     font-weight: bold;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Avenir Next Condensed';
//     src:    url('../fonts/AvenirNextCondensed-Regular.woff2') format('woff2'),
//             url('../fonts/AvenirNextCondensed-Regular.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

@font-face {
    font-family: 'Roboto';
    src:    url('../fonts/roboto/Roboto-Bold.woff2') format('woff2'),
            url('../fonts/roboto/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src:    url('../fonts/roboto/Roboto-Light.woff2') format('woff2'),
            url('../fonts/roboto/Roboto-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src:    url('../fonts/roboto/Roboto-LightItalic.woff2') format('woff2'),
            url('../fonts/roboto/Roboto-LightItalicx.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

// @font-face {
//     font-family: 'Futura CTXT';
//     src:    url('../fonts/futura/FuturaPT-Book.woff2') format('woff2'),
//             url('../fonts/futura/FuturaPT-Book.woff2') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

@font-face {
    font-family: 'Futura CTXT';
    src:    url('../fonts/futura/FuturaBQ-Medium.woff2') format('woff2'),
            url('../fonts/futura/FuturaBQ-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cheltenham CTXT';
    src: url('../fonts/cheltenham/CheltenhamLight.woff2') format('woff2'),
        url('../fonts/cheltenham/CheltenhamLight.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Cheltenham CTXT';
    src: url('../fonts/cheltenham/CheltenhamBook.woff2') format('woff2'),
        url('../fonts/cheltenham/CheltenhamBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cheltenham CTXT';
    src: url('../fonts/cheltenham/CheltenhamBold.woff2') format('woff2'),
        url('../fonts/cheltenham/CheltenhamBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

