<div class="col2">
    <article class="col ts ts-col">
        <img src="http://placehold.it/700x900.jpg" alt="Imagen">
        <h1 class="h2">Madrid o la incógnita del bocadillo de calamares</h1>
        <p class="body">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident labore dignissimos deleniti voluptatibus maxime, rerum voluptates nostrum dolores est quaerat corrupti dicta perferendis. Facilis aliquam a perspiciatis, omnis voluptates harum.</p>
        <p class="autor">Emmanuel Rodríguez</p>
    </article>
    <article class="col ts ts-col">
        <img src="http://placehold.it/700x900.jpg" alt="Imagen">
        <h1 class="h2">La unidad de la izquierda o la Comunidad de Madrid </h1>
        <p class="body">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident labore dignissimos deleniti voluptatibus maxime, rerum voluptates nostrum dolores est quaerat corrupti dicta perferendis.  Facilis aliquam a perspiciatis, omnis voluptates harum.  Facilis aliquam a perspiciatis, omnis voluptates harum.  Facilis aliquam a perspiciatis, omnis voluptates harum.</p>
        <p class="autor">Jorge Lago</p>
    </article>
</div>