

<article class="ts ts-body">
    <div class="ts-body__textos">
        <h1 class="ts-body__title">
            Esto es un título y poco más puedo decir
        </h1>
        <p class="ts-body__body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, libero ipsum facere quod fuga minus repellat quibusdam voluptas magnam sequi dolorem vero eius nam architecto adipisci veniam sunt sint. Optio!
        </p>
        <div class="ts-autor__autor autor">Pablo Casado</div>
    </div>
    <div class="ts-body__img">
        <img src="http://placehold.it/600x400.jpg" alt="Imagenes">
    </div>
</article>

<article class="ts ts-body ts-body--inverse">
    <div class="ts-body__img">
        <img src="http://placehold.it/600x400.jpg" alt="Imagenes">
    </div>
    <div class="ts-body__textos">
        <h1 class="ts-body__title">
            Esto es un título y poco más puedo decir
        </h1>
        <p class="ts-body__body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, libero ipsum facere quod fuga minus repellat quibusdam voluptas magnam sequi dolorem vero eius nam architecto adipisci veniam sunt sint. Optio!
        </p>
        <div class="ts-autor__autor autor">Pablo Casado</div>
    </div>
</article>