{# Este teaser se define por su imagen que ocupa el 100% del espacio y el gran tamaño de su tipografía #}

<article class="ts ts-huge">
    <img src="http://placehold.it/2000x1000.jpg" alt="Imagen">
    <h1 class="ts-huge__title">
        Abaratando costes: Congreso, tribunal y cárcel en el mismo sitio
    </h1>
    <div class="ts-huge__autor autor">
        <span>Guillem Martínez</span>
        <span>Madrid</span>
    </div> 
</article>