<article class="ts ts-mitad ts-mitad--center">
    <div class="ts-mitad__img">
        <img src="http://placehold.it/2000x1500.jpg" alt="Imagen">
    </div>
    <div class="ts-mitad__textos">
        <h1>Sánchez coquetea con el abismo</h1>
        <div class="autor">
            <span>CTXT</span>
        </div> 
    </div>
</article>