<article class="ts ts-small">
    <div class="ts-small__img">
        <img src="http://placehold.it/2000x1500.jpg" alt="Imagen">
    </div>
    <div class="ts-small__textos">
        <h1 class="h3">Sánchez coquetea con el abismo</h1>
        <div class="autor">
            <span>CTXT</span>
        </div> 
    </div>
</article>