<article class="ts ts-title">
    <div class="ts-title__img">
        <img src="http://placehold.it/2000x1500.jpg" alt="Imagen">
    </div>
    <div class="ts-title__textos">
        <h1>Sánchez coquetea con el abismo</h1>
        <div class="autor">
            <span>CTXT</span>
        </div> 
    </div>
</article>

<div class="dev">
    <p>La clase modificadora 'ts-title--inverse' permite invertir el orden. Hay que acordarse también de modifiacr el HTML para poner la imagen después del texto</p>
</div>

<article class="ts ts-title ts-title--inverse">
    <div class="ts-title__textos">
        <h1>Sánchez coquetea con el abismo</h1>
        <div class="autor">
            <span>CTXT</span>
        </div> 
    </div>
    <div class="ts-title__img">
        <img src="http://placehold.it/2000x1500.jpg" alt="Imagen">
    </div>
</article>