

<article class="ts ts-tab ts-tab--expanded">
    <div class="ts-tab__category">
        Hemeroteca CTXT
        <span class="ts-tab__triangle"></span>
    </div>
    <div class="ts-tab__content">
        <div class="ts-tab__textos">
            <div class="ts-tab__meta">
                <div class="ts-tab__info">Noam Chomsky / Filósofo y lingüista</div>
                <div class="ts-tab__autor">Vaios Triantafyllou (Jacobin)</div>
            </div>
            <h1 class="ts-tab__title h2">
                "El capitalismo se basa en supuestos despiadados antihumanos"
            </h1>
        </div>
        <div class="ts-tab__image">
            <img src="https://placehold.it/800x500.jpg" alt="Imagen">
        </div>
    </div>
</article>