<article class="ts ts-vertical">
    <div class="ts-vertical__img">
        <img src="http://placehold.it/2000x1000.jpg" alt="Imagen">
    </div>
    <div class="dev left">
        <p>El tamaño de la tipografía puede ser modificado independientemente del tipo de teaser usando las clases .h1-.h6.</p>
        <p>Visita <a target="_blank" href="/elements.html">elementos</a> para ver todas las 'utility classes'</p>
    </div>
    <h1>
        Abaratando costes: Congreso, tribunal y cárcel en el mismo sitio
    </h1>
    <div class="autor autor--big">
        <span>Guillem Martínez</span>
        <span>Madrid</span>
    </div> 
</article>