<article class="ts ts-vertical">
    <div class="ts-vertical__img">
        <img src="http://placehold.it/2000x1000.jpg" alt="Imagen">
    </div>
    <h1>
        <a href="articulo.html">Abaratando costes: Congreso, tribunal y cárcel en el mismo sitio</a>
    </h1>
    <p class="autor">
        Guillem Martínez
        <span class="fecha">Londres, 12/11/2016</span>
    </p> 
</article>