<article class="ts ts-vertical">
    <div class="ts-vertical__img">
        <img src="http://placehold.it/2000x1000.jpg" alt="Imagen">
    </div>
    <h1>
        Abaratando costes: Congreso, tribunal y cárcel en el mismo sitio
    </h1>
    <div class="autor autor--big">
        <span>Guillem Martínez</span>
        <span>Madrid</span>
    </div> 
</article>