@font-face {
    font-family: 'Cheltenham';
    src: url('CheltenhamLight.woff2') format('woff2'),
        url('CheltenhamLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Cheltenham';
    src: url('CheltenhamBook.woff2') format('woff2'),
        url('CheltenhamBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cheltenham';
    src: url('Cheltenham-Bold.woff2') format('woff2'),
        url('Cheltenham-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

