.articulo__content {    
    margin-bottom: $articulo-spacer / 2;
    @include breakpoint($medium) {
        display:flex;
        margin-bottom: $articulo-spacer;
    }
}
.articulo__main {
    @include breakpoint($medium) {
        width:70%;
        padding-right: $articulo-spacer / 2;
        border-right: 1px solid $black;
        padding-top: $gutter;
    }
    @include breakpoint($large) {
        padding-right: $articulo-spacer;
    }
}

.articulo__body {
    @include breakpoint($medium) {
        @include ritmo-font-size($h4-font-size, 5);
    }
    font-weight:lighter;
}

.articulo__sidebar {
    @include breakpoint($medium) {
        width:30%;
        padding-left: $articulo-spacer / 2;
    }
    @include breakpoint($large) {
        padding-left: $articulo-spacer;
    }
    padding-top: $gutter;
}

.articulo__destacado {
    margin-bottom: $articulo-spacer / 2;
    @include breakpoint($medium) {
        margin-bottom: $articulo-spacer;
    }
    .imagen {
        margin:0;
    }
}

.articulo__fecha {
    @extend .autor;
    font-weight:bold;
}