.articulo__content {    
    margin-bottom: $articulo-spacer / 2;
    width:100%;
    @include breakpoint($medium) {
        display:flex;
        overflow:hidden;
        margin-bottom: $articulo-spacer;
    }
}
.articulo__main {
    @include breakpoint($medium) {
        padding-right: $articulo-spacer / 2;
        border-right: 1px solid $separator-color;
    }
    @include breakpoint($large) {
        padding-right: $articulo-spacer;
    }
}

.articulo__body {
    @include breakpoint($medium) {
        @include ritmo-font-size($h4-font-size, 5);
    }
    font-weight:lighter;
}

.articulo__sidebar {
    padding-top: $gutter;

    .pub {
        text-align:center;
    }
    @include breakpoint($medium) {
        width:300px;
        flex: 1 0 300px;
        padding-left: 0;
        padding-top: 0;
        margin-left: $articulo-spacer / 2;
    }
    @include breakpoint($large) {
        margin-left: $articulo-spacer;
    }
}

.articulo__destacado {
    margin-bottom: $articulo-spacer / 2;
    text-align:center;
    @include breakpoint($medium) {
        margin-bottom: $articulo-spacer;
    }
    .imagen {
        margin:0 auto;
    }
}

.articulo__fecha {
    @extend .autor;
    font-weight:bold;
}