.brand-day {
    width:100%;
    width: 100vw;
    overflow-x:hidden;
    #main-wrapper {
        position:relative;
        padding:0;
    }
    .brand-day__content {
        padding: 0 $gutter $gutter $gutter;
        @include breakpoint(max-width $medium) {
            padding: 0 $gutter / 2 $gutter / 2 $gutter / 2;
        }
    }
}

.brand-day__top {
    // position:relative;
    // width: calc(100% + (#{$gutter} * 2));
    // left: -$gutter;

}

.brand-day__left {
    position: absolute;
    top: 0;
    left: 0;
    bottom:0;
    transform: translateX(-100%);
    img {
        position:sticky;
        top:0;
        min-height: 600px;
        max-height: 100vh;
        width:auto;
    }
}

.brand-day__right {
    position: absolute;
    top: 0;
    right: 0;
    bottom:0;
    transform: translateX(100%);
    img {
        position:sticky;
        top:0;
        min-height: 600px;
        max-height: 100vh;
        width:auto;
    }
}