.box--seccion {
    position:relative;
    overflow:hidden;
    // Overrides sobre elementos ya existentes.
    .section {
        @extend .section--border-none;
    }
    .section__subtitle {
        @extend .section__subtitle--gris;
    }
    .section__category {
        color: $white;
        background-color: $gray8;
        padding: $gutter / 2 $gutter $gutter / 2 $gutter;
        @include ritmo-font-size($h5-font-size, 3);
        position:relative;
        margin-right: $gutter / 2;
        @include breakpoint($small) {
            margin-right:0;
            left: -$gutter;
            max-width: 200px;
        }
        a {
            @include set-link(
                $white,
                $white,
                $black,
                $black,
                false,
                false
            )
        }
        &:after {
            display:none;
        }
        .section__decoration {
            position:absolute;
            top:0;
            left: 100%;
            width:50%;
            height:100%;
            overflow:hidden;
            &:before {
                content:"";
                width: 200%;
                height: 100%;
                position: absolute;
                transform: rotate(-75deg);
                background-color: $gray8;
                transform-origin: 0% 100%;
            }
        }
    }
    &.box--gris-oscuro .section__category {
        background-color: $separator-color; 
        color: $black;
        .section__decoration:before {
            background-color: $separator-color; 
        }
    }
}

.nav-lateral {
    display:none;
    @include breakpoint($medium) {
        display:flex;
    }
    position:absolute;
    top: $gutter;
    right:0;
    transform: translateX( calc(100% - (#{$gutter} * 2) ) );
    margin:0;
    padding: $gutter / 2 $gutter $gutter / 2 $gutter * 2;
    border-top: 1px solid $separator-color;
    border-bottom: 1px solid $separator-color;
    min-height: 140px;
    flex-direction:column;
    justify-content: center;
    transition: all 0.5s ease-in-out;
    &:hover {
        transform: translateX(0%);
    }

    .box--gris-oscuro & {
        background-color: $separator-color;
        h1, p {color: $black;}
        a {
            @include set-link(
                $black,
                $black,
                get-color(base, primary),
                get-color(base, primary)
            )
        }
        .nav-lateral__flecha {
            &:after,
            &:before {
                background-color: $separator-color;
            }
        }
    }
}

$ratio: 53.25%;
.nav-lateral__flecha {
    position:absolute;
    top:-2px;
    bottom:-2px;
    right: 100%;
    width: $gutter * 2;
    overflow:hidden;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 100%;
        width: 100%;
        height: $ratio;
        border-left: 1px solid $separator-color;
        transform-origin: 0 0;
        transform: rotate(20deg);
    }
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 100%;
        width: 100%;
        height: $ratio;
        border-left: 1px solid $separator-color;
        transform-origin: 0% 100%;
        transform: rotate(-20deg);
    }
}

.nav-lateral__title {
    cursor:pointer;
    @include ritmo-font-size($h5-font-size, $h5-ritmo-lines);
    text-transform: uppercase;
    position:absolute;
    bottom:50%;
    left:0;
    margin:0;
    transform: rotate(-90deg) translate(-50%, 150%);
    transform-origin: 0 100%;
    font-family: $futura;
}

.nav-lateral__menu {
    margin:0;
    padding:0;
    font-family: $roboto;
    li {
        margin:0;
    }
    a {
        @include ritmo-font-size($h6-font-size, $h6-ritmo-lines);
        @include set-link(
            $black,
            $black, 
            get-color(base, primary),
            get-color(base, primary),
            false,
            false
        )
    }
}

.scroll-list__wrapper {
    position:relative;
}

.scroll-list__header {
    position:sticky;
    top:0px;
    @include ritmo-font-size($h3-font-size, $h3-ritmo-lines);
    text-align:center;
    border-bottom: $filete;
    z-index: 9;
    padding-bottom: $gutter / 2;
    margin-bottom: $gutter;
    .box & {
        background-color: $white;
    }
    @each $name, $color in $ctxt-colors {
        .box--#{$name} & {
            background-color: $color;
        }
    }
}

.scroll-list {
    @include breakpoint($medium) {
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        padding-left: $gutter;
    }
    // overflow:scroll;
    ul {
        padding:0;
        margin:0;
    }
    li {
        display:block;
        list-style-type: none;
    }
}

.scroll-list__todos {
    text-align:center;
    font-family: $font-secondary;
    padding: $gutter/ 2 $gutter/ 2 0 $gutter/ 2;
    position:sticky;
    bottom:0;
    z-index:9;
    background-color: $white;
    @each $name, $color in $ctxt-colors {
        .box--#{$name} & {
            background-color: $color;
        }
    }
    a {
        @include set-link(
            $black,
            $black,
            get-color(base, primary),
            get-color(base, primary),
            underline,
            false
        )
    }
}

.scroll-list__item {
    margin-bottom: $gutter * 0.75;
    .autor {
        color: $gray6;
    }
}


.scroll-list__subtitulo {
    font-family: $font-secondary;
    text-transform: uppercase;
    color: $gray;
    @include ritmo-font-size($h6-font-size, 2);
    margin-bottom: $gutter / 4;
    font-weight:bold;
}

.scroll-list__title {
    @include ritmo-font-size($h5-font-size, 3);
    margin:0,
}