.simplebar-track.simplebar-vertical {
    right: auto;
    left:0;
    &:before {
        content:"";
        position:absolute;
        top:0;
        bottom:0;
        left: 50%;
        width: 1px;
        background-color: $separator-color;
    }
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
    top: 10px;
    bottom: 10px;
    opacity: 1;
    background: transparent;
    border: 1px solid $gray5;
    background-color: $gray0;
}

.scroll-list:hover .simplebar-scrollbar:before {
    border-color: $gray5;
    background-color: $gray5;
}

