// Ctxt-defined
$base: #f01b4d;
$hueso: #f4f1e5;
$menta: #eef8f5;


// Overrides
$black: #000;
$white: #fff;
$gray: #a3a3a3;
$gray1: #CCCCCC;
// $gray0: #ececec;
$gray0: #f2f2f2;
$gray5: #a7a7a7;
$gray6: #808080;
// $gray9: #2E2E2E;
$gray9: #474849;
$sepia: #f4ecde;

// Maps to loop over
$ctxt-colors: (
    blanco: $white,
    hueso: $hueso,
    gris-oscuro: $gray9,
    gris-claro:$gray0,
    menta:$menta
);

// $black: #4a3b3e;
// $gray0: #faf8f9;
// $gray1: #f0eced;
// $gray2: #e6dee0;
// $gray3: #dad0d2;
// $gray4: #cec0c3;
// $gray5: #c0aeb2;
// $gray6: #b09a9f;
// $gray7: #9e8188;
// $gray8: #7f656b;
// $gray9: #4a3b3e;

// Palx
$pink0: #fdeaef;
$pink1: #fcd4de;
$pink2: #fabaca;
$pink3: #f89ab2;
$pink4: #f57091;
$pink5: #f01b50;
$pink6: #d91848;
$pink7: #be153f;
$pink8: #9e1134;
$pink9: #710c25;
$red0: #fdede7;
$red1: #fbd9cd;
$red2: #f9c2b0;
$red3: #f7a78c;
$red4: #f48560;
$red5: #f0501b;
$red6: #d84818;
$red7: #be3f15;
$red8: #9d3411;
$red9: #70250c;
$orange0: #fdf6e1;
$orange1: #faecc1;
$orange2: #f8e29e;
$orange3: #f6d677;
$orange4: #f3c94c;
$orange5: #f0bb1b;
$orange6: #d9a918;
$orange7: #be9415;
$orange8: #9e7b11;
$orange9: #72590c;
$yellow0: #f6fde2;
$yellow1: #edfbc2;
$yellow2: #e2f8a0;
$yellow3: #d7f67a;
$yellow4: #caf34e;
$yellow5: #bbf01b;
$yellow6: #a9d918;
$yellow7: #94bf15;
$yellow8: #7c9f11;
$yellow9: #5a730c;
$lime0: #ebfde6;
$lime1: #d6fbca;
$lime2: #bef9ab;
$lime3: #a2f786;
$lime4: #7ff459;
$lime5: #50f01b;
$lime6: #48d918;
$lime7: #3fbf15;
$lime8: #359f11;
$lime9: #26730c;
$green0: #e8fded;
$green1: #cefbd9;
$green2: #b0f9c3;
$green3: #8df7a8;
$green4: #60f485;
$green5: #1bf050;
$green6: #18d948;
$green7: #15bf3f;
$green8: #119f35;
$green9: #0d7326;
$teal0: #e7fdf7;
$teal1: #ccfbf0;
$teal2: #aef9e7;
$teal3: #8bf7dc;
$teal4: #5df4ce;
$teal5: #1bf0bb;
$teal6: #18d9a9;
$teal7: #15bf94;
$teal8: #119f7c;
$teal9: #0d735a;
$cyan0: #e4f7fd;
$cyan1: #c7eefb;
$cyan2: #a7e4f9;
$cyan3: #81d9f6;
$cyan4: #54ccf3;
$cyan5: #1bbbf0;
$cyan6: #18a9d9;
$cyan7: #1594be;
$cyan8: #117b9e;
$cyan9: #0c5871;
$blue0: #e8edfd;
$blue1: #cfdafb;
$blue2: #b2c4f9;
$blue3: #90aaf7;
$blue4: #6387f4;
$blue5: #1b50f0;
$blue6: #1848d8;
$blue7: #153ebc;
$blue8: #11339a;
$blue9: #0c246c;
$indigo0: #efeafd;
$indigo1: #ddd3fc;
$indigo2: #c9b9fa;
$indigo3: #b199f8;
$indigo4: #906ff5;
$indigo5: #501bf0;
$indigo6: #4818d8;
$indigo7: #3e15bc;
$indigo8: #33119b;
$indigo9: #240c6d;
$violet0: #f8eafd;
$violet1: #f1d3fc;
$violet2: #e9b8fa;
$violet3: #e097f8;
$violet4: #d36cf5;
$violet5: #bb1bf0;
$violet6: #a918d8;
$violet7: #9415be;
$violet8: #7a119d;
$violet9: #570c70;
$fuschia0: #fdeaf8;
$fuschia1: #fcd4f2;
$fuschia2: #fab9ea;
$fuschia3: #f89ae0;
$fuschia4: #f56fd4;
$fuschia5: #f01bbb;
$fuschia6: #d918a9;
$fuschia7: #be1594;
$fuschia8: #9e117b;
$fuschia9: #720c58;