<!-- index.nunjucks -->
{% extends "layouts/layout.njk" %}

{% block content%}

<div id="main-wrapper">

    {% include "partials/header.njk" %}

    <main class="page-especiales">

        <section class="box box--seccion box--gris-claro">
            <header class="section">
                <div class="section__category">
                    Especiales
                    <div class="section__decoration"></div>
                </div>
                <div class="section__title__wrapper">
                    <h1 class="section__title h3">Archivo</h1>
                    <p class="section__subtitle">Temáticos agrupados</p>
                </div>
            </header>
            <nav class="nav-lateral">
                <div class="nav-lateral__flecha"></div>
                <h1 class="nav-lateral__title">Especiales</h1>
                <ul class="nav-lateral__menu">
                    <li><a href="#">Internacional</a></li>
                    <li><a href="#">España</a></li>
                    <li><a href="#">Economía</a></li>
                    <li><a href="#">Comunicación</a></li>
                </ul>
            </nav>
            <div class="col2 col2--gutter">
                <div class="col">
                    <article class="ts ts-especial">
                        <a href="#" class="link-layer"></a>
                        <div class="ts-especial__textos">
                            <h1 class="ts-especial__title">Observatorio Social</h1>
                            <p class="ts-especial__piezas">43 piezas</p>
                        </div>
                        <div class="ts-especial__img">
                            <img src="http://placehold.it/600x650.jpg" alt="Imagen">
                        </div>
                    </article>
                    <article class="ts ts-especial">
                        <a href="#" class="link-layer"></a>
                        <div class="ts-especial__textos">
                            <h1 class="ts-especial__title">Observatorio Social</h1>
                            <p class="ts-especial__piezas">43 piezas</p>
                        </div>
                        <div class="ts-especial__img">
                            <img src="http://placehold.it/600x650.jpg" alt="Imagen">
                        </div>
                    </article>
                    <article class="ts ts-especial">
                        <a href="#" class="link-layer"></a>
                        <div class="ts-especial__textos">
                            <h1 class="ts-especial__title">Controversias CTXT</h1>
                            <p class="ts-especial__piezas">43 piezas</p>
                        </div>
                        <div class="ts-especial__img">
                            <img src="http://placehold.it/600x650.jpg" alt="Imagen">
                        </div>
                    </article>
                    <article class="ts ts-especial">
                        <a href="#" class="link-layer"></a>
                        <div class="ts-especial__textos">
                            <h1 class="ts-especial__title">Europa contra sí misma</h1>
                            <p class="ts-especial__piezas">43 piezas</p>
                        </div>
                        <div class="ts-especial__img">
                            <img src="http://placehold.it/600x650.jpg" alt="Imagen">
                        </div>
                    </article>
                    <article class="ts ts-especial">
                        <a href="#" class="link-layer"></a>
                        <div class="ts-especial__textos">
                            <h1 class="ts-especial__title">The english corner</h1>
                            <p class="ts-especial__piezas">43 piezas</p>
                        </div>
                        <div class="ts-especial__img">
                            <img src="http://placehold.it/600x650.jpg" alt="Imagen">
                        </div>
                    </article>
                    <article class="ts ts-especial">
                        <a href="#" class="link-layer"></a>
                        <div class="ts-especial__textos">
                            <h1 class="ts-especial__title">Trabajo y renta básica</h1>
                            <p class="ts-especial__piezas">43 piezas</p>
                        </div>
                        <div class="ts-especial__img">
                            <img src="http://placehold.it/600x650.jpg" alt="Imagen">
                        </div>
                    </article>
                    <article class="ts ts-especial">
                        <a href="#" class="link-layer"></a>
                        <div class="ts-especial__textos">
                            <h1 class="ts-especial__title">Lugares</h1>
                            <p class="ts-especial__piezas">43 piezas</p>
                        </div>
                        <div class="ts-especial__img">
                            <img src="http://placehold.it/600x650.jpg" alt="Imagen">
                        </div>
                    </article>
                </div>
                <div class="col">
                     <article class="ts ts-especial">
                        <a href="#" class="link-layer"></a>
                        <div class="ts-especial__textos">
                            <h1 class="ts-especial__title">Entrevistas</h1>
                            <p class="ts-especial__piezas">43 piezas</p>
                        </div>
                        <div class="ts-especial__img">
                            <img src="http://placehold.it/600x650.jpg" alt="Imagen">
                        </div>
                    </article>
                    <article class="ts ts-especial">
                        <a href="#" class="link-layer"></a>
                        <div class="ts-especial__textos">
                            <h1 class="ts-especial__title">Documentos CTXT</h1>
                            <p class="ts-especial__piezas">43 piezas</p>
                        </div>
                        <div class="ts-especial__img">
                            <img src="http://placehold.it/600x650.jpg" alt="Imagen">
                        </div>
                    </article>
                    <article class="ts ts-especial">
                        <a href="#" class="link-layer"></a>
                        <div class="ts-especial__textos">
                            <h1 class="ts-especial__title">Cataluña: ¿choque frontal o cortina de humo?</h1>
                            <p class="ts-especial__piezas">43 piezas</p>
                        </div>
                        <div class="ts-especial__img">
                            <img src="http://placehold.it/600x650.jpg" alt="Imagen">
                        </div>
                    </article>
                    <article class="ts ts-especial">
                        <a href="#" class="link-layer"></a>
                        <div class="ts-especial__textos">
                            <h1 class="ts-especial__title">Periodismo y democracia: el estado de los medios</h1>
                            <p class="ts-especial__piezas">43 piezas</p>
                        </div>
                        <div class="ts-especial__img">
                            <img src="http://placehold.it/600x650.jpg" alt="Imagen">
                        </div>
                    </article>
                    <article class="ts ts-especial">
                        <a href="#" class="link-layer"></a>
                        <div class="ts-especial__textos">
                            <h1 class="ts-especial__title">Grandes reportajes</h1>
                            <p class="ts-especial__piezas">43 piezas</p>
                        </div>
                        <div class="ts-especial__img">
                            <img src="http://placehold.it/600x650.jpg" alt="Imagen">
                        </div>
                    </article>
                    <article class="ts ts-especial">
                        <a href="#" class="link-layer"></a>
                        <div class="ts-especial__textos">
                            <h1 class="ts-especial__title">Personajes</h1>
                            <p class="ts-especial__piezas">43 piezas</p>
                        </div>
                        <div class="ts-especial__img">
                            <img src="http://placehold.it/600x650.jpg" alt="Imagen">
                        </div>
                    </article>
                    <article class="ts ts-especial">
                        <a href="#" class="link-layer"></a>
                        <div class="ts-especial__textos">
                            <h1 class="ts-especial__title">Dobladillo 2: nosotras cambiamos el mundo</h1>
                            <p class="ts-especial__piezas">43 piezas</p>
                        </div>
                        <div class="ts-especial__img">
                            <img src="http://placehold.it/600x650.jpg" alt="Imagen">
                        </div>
                    </article>               
                </div>
            </div>
        </section>

    </main>

    {% include 'partials/footer.njk' %}

</div> <!-- MAIN WRAPPER -->

{% endblock %}