<!-- index.nunjucks -->
{% extends "layouts/layout.njk" %}

{% block content%}
    {% include "partials/header.njk" %}

<div id="main-wrapper">


    <main class="page-especial">

        <section class="box box--seccion">
            <header class="section">
                <div class="section__category">
                    Catalunya: ¿choque frontal o cortina de humo?
                    <div class="section__decoration"></div>
                </div>
                <div class="section__title__wrapper">
                    <h1 class="section__title h3">Archivo</h1>
                    <p class="section__subtitle">Todo sobre este especial</p>
                </div>
            </header>
            <nav class="nav-lateral">
                <div class="nav-lateral__flecha"></div>
                <h1 class="nav-lateral__title">Especiales</h1>
                <ul class="nav-lateral__menu">
                    <li><a href="#">Internacional</a></li>
                    <li><a href="#">España</a></li>
                    <li><a href="#">Economía</a></li>
                    <li><a href="#">Comunicación</a></li>
                </ul>
            </nav>
            <article class="ts ts-flex">
                <div class="ts-flex__img">
                    <img src="http://placehold.it/500x300.jpg" alt="Imagenes">
                </div>
                <div class="ts-flex__textos">
                    <h1 class="h2">
                        <a href="articulo">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</a>
                    </h1>
                    <p class="body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, libero ipsum facere quod fuga
                        minus repellat quibusdam voluptas.
                    </p>
                    <p class="autor">
                        <span>Pablo Casado</span>
                        <span class="fecha">Madrid, 18/01/2018</span>
                    </p>
                </div>
            </article>
            <div class="box box--hueso">
                <article class="ts ts-flex ts-flex--inverse m0">
                    <div class="ts-flex__textos mw-60">
                        <p class="subtitle">Lorem Ipsum</p>
                        <h1 class="h3">Lorem ipsum dolor</h1>
                        <p class="body body--small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus,
                            maxime doloribus! Praesentium esse ut unde nobis assumenda, optio quam molestias cupiditate
                            omnis, velit ipsa aperiam quae qui soluta, incidunt eos?</p>
                        <p class="autor">
                            CTXT
                            <span class="fecha">Madrid, 18 de Brumario</span>
                        </p>
                    </div>
                    <div class="ts-flex__img mw-40">
                        <img src="http://placehold.it/600x400.jpg" alt="Imagen">
                    </div>
                </article>
            </div> {# endbox #}
            <div class="col3">
                <div class="col">
                    <article class="ts ts-vertical">
                        <div class="ts-vertical__img">
                            <img src="http://placehold.it/800x500.jpg" alt="Imagen">
                        </div>
                        <h1 class="h3">
                            <a href="articulo.html">Lorem ipsum lorem</a>
                        </h1>
                        <p class="body body--small">
                            El liderl laborista muestra que Theresa May negoció con EEUU la inclusión del sistema de
                            salud en las negociaciones comerciales tras el acuerdo del Brexit y asegura que Johnson
                            también lo hará.
                        </p>
                        <p class="autor">
                            Guillem Martínez
                            <span class="fecha">Londres, 12/11/2016</span>
                        </p>
                    </article>
                </div>
                <div class="col">
                    <article class="ts ts-vertical">
                        <div class="ts-vertical__img">
                            <img src="http://placehold.it/800x500.jpg" alt="Imagen">
                        </div>
                        <h1 class="h3">
                            <a href="articulo.html">Lorem ipsum lorem</a>
                        </h1>
                        <p class="body body--small">
                            Tras el acuerdo del Brexit y asegura que Johnson también lo hará.
                        </p>
                        <p class="autor">
                            Guillem Martínez
                            <span class="fecha">Londres, 12/11/2016</span>
                        </p>
                    </article>
                </div>
                <div class="col">
                    <article class="ts ts-vertical">
                        <div class="ts-vertical__img">
                            <img src="http://placehold.it/800x500.jpg" alt="Imagen">
                        </div>
                        <h1 class="h3">
                            <a href="articulo.html">Lorem ipsum lorem</a>
                        </h1>
                        <p class="body body--small">
                            El liderl laborista muestra que Theresa May negoció con EEUU la inclusión del sistema de
                            salud en las negociaciones comerciales tras.
                        </p>
                        <p class="autor">
                            Guillem Martínez
                            <span class="fecha">Londres, 12/11/2016</span>
                        </p>
                    </article>
                </div>
            </div>
            <div class="col3">
                <div class="col">
                    <article class="ts ts-vertical">
                        <div class="ts-vertical__img">
                            <img src="http://placehold.it/800x500.jpg" alt="Imagen">
                        </div>
                        <h1 class="h3">
                            <a href="articulo.html">Lorem ipsum lorem</a>
                        </h1>
                        <p class="body body--small">
                            El liderl laborista muestra que Theresa May negoció con EEUU la inclusión del sistema de
                            salud en las negociaciones comerciales tras el acuerdo del Brexit y asegura que Johnson
                            también lo hará.
                        </p>
                        <p class="autor">
                            Guillem Martínez
                            <span class="fecha">Londres, 12/11/2016</span>
                        </p>
                    </article>
                </div>
                <div class="col">
                    <article class="ts ts-vertical">
                        <div class="ts-vertical__img">
                            <img src="http://placehold.it/800x500.jpg" alt="Imagen">
                        </div>
                        <h1 class="h3">
                            <a href="articulo.html">Lorem ipsum lorem</a>
                        </h1>
                        <p class="body body--small">
                            Tras el acuerdo del Brexit y asegura que Johnson también lo hará.
                        </p>
                        <p class="autor">
                            Guillem Martínez
                            <span class="fecha">Londres, 12/11/2016</span>
                        </p>
                    </article>
                </div>
                <div class="col">
                    <article class="ts ts-vertical">
                        <div class="ts-vertical__img">
                            <img src="http://placehold.it/800x500.jpg" alt="Imagen">
                        </div>
                        <h1 class="h3">
                            <a href="articulo.html">Lorem ipsum lorem</a>
                        </h1>
                        <p class="body body--small">
                            El liderl laborista muestra que Theresa May negoció con EEUU la inclusión del sistema de
                            salud en las negociaciones comerciales tras.
                        </p>
                        <p class="autor">
                            Guillem Martínez
                            <span class="fecha">Londres, 12/11/2016</span>
                        </p>
                    </article>
                </div>
            </div>
            <div class="separator"></div>
            <div class="box box--gris-claro">
                <div class="col2 col2--gutter">
                    <div class="col">
                        <article class="ts ts-flex ts--reducido">
                            <div class="ts-flex__img mw-40">
                                <img src="http://placehold.it/800x700.jpg" alt="Imagen">
                            </div>
                            <div class="ts-flex__textos">
                                <p class="subtitle">Imperios combatientes</p>
                                <h1 class="h3">La ocasión perdida</h1>
                                <p class="body body--small">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                </p>
                                <p class="autor">
                                    <span>CTXT</span>
                                    <span class="fecha">Madrid, 11/11/2011</span>
                                </p>
                            </div>
                        </article>
                    </div>
                    <div class="col">
                        <article class="ts ts-flex ts--reducido">
                            <div class="ts-flex__img mw-40">
                                <img src="http://placehold.it/800x700.jpg" alt="Imagen">
                            </div>
                            <div class="ts-flex__textos">
                                <h1 class="h3">Lorem Ipsum dolor sit amet</h1>
                                <p class="body body--small">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                </p>
                                <p class="autor">
                                    <span>CTXT</span>
                                    <span class="fecha">Madrid, 11/11/2011</span>
                                </p>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="col3">
                <div class="col">
                    <article class="ts ts-vertical">
                        <div class="ts-vertical__img">
                            <img src="http://placehold.it/800x500.jpg" alt="Imagen">
                        </div>
                        <h1 class="h3">
                            <a href="articulo.html">Lorem ipsum lorem</a>
                        </h1>
                        <p class="body body--small">
                            El liderl laborista muestra que Theresa May negoció con EEUU la inclusión del sistema de
                            salud en las negociaciones comerciales tras el acuerdo del Brexit y asegura que Johnson
                            también lo hará.
                        </p>
                        <p class="autor">
                            Guillem Martínez
                            <span class="fecha">Londres, 12/11/2016</span>
                        </p>
                    </article>
                </div>
                <div class="col">
                    <article class="ts ts-vertical">
                        <div class="ts-vertical__img">
                            <img src="http://placehold.it/800x500.jpg" alt="Imagen">
                        </div>
                        <h1 class="h3">
                            <a href="articulo.html">Lorem ipsum lorem</a>
                        </h1>
                        <p class="body body--small">
                            Tras el acuerdo del Brexit y asegura que Johnson también lo hará.
                        </p>
                        <p class="autor">
                            Guillem Martínez
                            <span class="fecha">Londres, 12/11/2016</span>
                        </p>
                    </article>
                </div>
                <div class="col">
                    <article class="ts ts-vertical">
                        <div class="ts-vertical__img">
                            <img src="http://placehold.it/800x500.jpg" alt="Imagen">
                        </div>
                        <h1 class="h3">
                            <a href="articulo.html">Lorem ipsum lorem</a>
                        </h1>
                        <p class="body body--small">
                            El liderl laborista muestra que Theresa May negoció con EEUU la inclusión del sistema de
                            salud en las negociaciones comerciales tras.
                        </p>
                        <p class="autor">
                            Guillem Martínez
                            <span class="fecha">Londres, 12/11/2016</span>
                        </p>
                    </article>
                </div>
            </div>
            <div class="separator"></div>
            <div class="box box--gris-claro">
                <div class="col2 col2--gutter">
                    <div class="col">
                        <article class="ts ts-flex ts--reducido">
                            <div class="ts-flex__img mw-40">
                                <img src="http://placehold.it/800x700.jpg" alt="Imagen">
                            </div>
                            <div class="ts-flex__textos">
                                <p class="subtitle">Imperios combatientes</p>
                                <h1 class="h3">La ocasión perdida</h1>
                                <p class="body body--small">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                </p>
                                <p class="autor">
                                    <span>CTXT</span>
                                    <span class="fecha">Madrid, 11/11/2011</span>
                                </p>
                            </div>
                        </article>
                    </div>
                    <div class="col">
                        <article class="ts ts-flex ts--reducido">
                            <div class="ts-flex__img mw-40">
                                <img src="http://placehold.it/800x700.jpg" alt="Imagen">
                            </div>
                            <div class="ts-flex__textos">
                                <h1 class="h3">Lorem Ipsum dolor sit amet</h1>
                                <p class="body body--small">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                </p>
                                <p class="autor">
                                    <span>CTXT</span>
                                    <span class="fecha">Madrid, 11/11/2011</span>
                                </p>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="col3">
                <div class="col">
                    <article class="ts ts-vertical">
                        <div class="ts-vertical__img">
                            <img src="http://placehold.it/800x500.jpg" alt="Imagen">
                        </div>
                        <h1 class="h3">
                            <a href="articulo.html">Lorem ipsum lorem</a>
                        </h1>
                        <p class="body body--small">
                            El liderl laborista muestra que Theresa May negoció con EEUU la inclusión del sistema de
                            salud en las negociaciones comerciales tras el acuerdo del Brexit y asegura que Johnson
                            también lo hará.
                        </p>
                        <p class="autor">
                            Guillem Martínez
                            <span class="fecha">Londres, 12/11/2016</span>
                        </p>
                    </article>
                </div>
                <div class="col">
                    <article class="ts ts-vertical">
                        <div class="ts-vertical__img">
                            <img src="http://placehold.it/800x500.jpg" alt="Imagen">
                        </div>
                        <h1 class="h3">
                            <a href="articulo.html">Lorem ipsum lorem</a>
                        </h1>
                        <p class="body body--small">
                            Tras el acuerdo del Brexit y asegura que Johnson también lo hará.
                        </p>
                        <p class="autor">
                            Guillem Martínez
                            <span class="fecha">Londres, 12/11/2016</span>
                        </p>
                    </article>
                </div>
                <div class="col">
                    <article class="ts ts-vertical">
                        <div class="ts-vertical__img">
                            <img src="http://placehold.it/800x500.jpg" alt="Imagen">
                        </div>
                        <h1 class="h3">
                            <a href="articulo.html">Lorem ipsum lorem</a>
                        </h1>
                        <p class="body body--small">
                            El liderl laborista muestra que Theresa May negoció con EEUU la inclusión del sistema de
                            salud en las negociaciones comerciales tras.
                        </p>
                        <p class="autor">
                            Guillem Martínez
                            <span class="fecha">Londres, 12/11/2016</span>
                        </p>
                    </article>
                </div>
            </div>
            <div class="separator"></div>
            <div class="box box--gris-claro">
                <div class="col2 col2--gutter">
                    <div class="col">
                        <article class="ts ts-flex ts--reducido">
                            <div class="ts-flex__img mw-40">
                                <img src="http://placehold.it/800x700.jpg" alt="Imagen">
                            </div>
                            <div class="ts-flex__textos">
                                <p class="subtitle">Imperios combatientes</p>
                                <h1 class="h3">La ocasión perdida</h1>
                                <p class="body body--small">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                </p>
                                <p class="autor">
                                    <span>CTXT</span>
                                    <span class="fecha">Madrid, 11/11/2011</span>
                                </p>
                            </div>
                        </article>
                    </div>
                    <div class="col">
                        <article class="ts ts-flex ts--reducido">
                            <div class="ts-flex__img mw-40">
                                <img src="http://placehold.it/800x700.jpg" alt="Imagen">
                            </div>
                            <div class="ts-flex__textos">
                                <h1 class="h3">Lorem Ipsum dolor sit amet</h1>
                                <p class="body body--small">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                </p>
                                <p class="autor">
                                    <span>CTXT</span>
                                    <span class="fecha">Madrid, 11/11/2011</span>
                                </p>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="col3">
                <div class="col">
                    <article class="ts ts-vertical">
                        <div class="ts-vertical__img">
                            <img src="http://placehold.it/800x500.jpg" alt="Imagen">
                        </div>
                        <h1 class="h3">
                            <a href="articulo.html">Lorem ipsum lorem</a>
                        </h1>
                        <p class="body body--small">
                            El liderl laborista muestra que Theresa May negoció con EEUU la inclusión del sistema de
                            salud en las negociaciones comerciales tras el acuerdo del Brexit y asegura que Johnson
                            también lo hará.
                        </p>
                        <p class="autor">
                            Guillem Martínez
                            <span class="fecha">Londres, 12/11/2016</span>
                        </p>
                    </article>
                </div>
                <div class="col">
                    <article class="ts ts-vertical">
                        <div class="ts-vertical__img">
                            <img src="http://placehold.it/800x500.jpg" alt="Imagen">
                        </div>
                        <h1 class="h3">
                            <a href="articulo.html">Lorem ipsum lorem</a>
                        </h1>
                        <p class="body body--small">
                            Tras el acuerdo del Brexit y asegura que Johnson también lo hará.
                        </p>
                        <p class="autor">
                            Guillem Martínez
                            <span class="fecha">Londres, 12/11/2016</span>
                        </p>
                    </article>
                </div>
                <div class="col">
                    <article class="ts ts-vertical">
                        <div class="ts-vertical__img">
                            <img src="http://placehold.it/800x500.jpg" alt="Imagen">
                        </div>
                        <h1 class="h3">
                            <a href="articulo.html">Lorem ipsum lorem</a>
                        </h1>
                        <p class="body body--small">
                            El liderl laborista muestra que Theresa May negoció con EEUU la inclusión del sistema de
                            salud en las negociaciones comerciales tras.
                        </p>
                        <p class="autor">
                            Guillem Martínez
                            <span class="fecha">Londres, 12/11/2016</span>
                        </p>
                    </article>
                </div>
            </div>
        </section>

    </main>

    {% include 'partials/footer.njk' %}

</div> <!-- MAIN WRAPPER -->

{% endblock %}