<!-- index.nunjucks -->
{% extends "layouts/layout.njk" %}

{% block content%}

<div id="main-wrapper">

    <div class="dev">
        <p>Todo el contenido debería ir rodeado de un #main-wrapper que limita el ancho máximo de la  página y establece el padding global.
        </p>
    </div>

    {% include "partials/header.njk" %}

    <div class="dev">
        <p>
            Para trabajar más fácilmente a nivel HTML y CSS, propongo desacoplar ciertos estilos.
            Por ejemplo: la caja que rodea grupos de noticias, definida por tener un borde negro y un padding interno, debería ser un código 100% independiente de lo que haya dentro.
        </p>
        <p>
            La clase [.box] cumple esta labor, y sólo esta. Aplicada a un elemento, esta clase proporciona exclusivamente el borde y el padding.
        </p>
    </div>

    <section class="box">
        <header class="section">
            <div class="section__category">
                Política
            </div>
            <h1 class="section__title">España</h1>
            <p class="section__subtitle">Nace la XVIII legislatura</p>
        </header>
        <div class="dev">
            <p>
                Llamaré a las vistas previas de noticias "teasers", como suele ser común en inglés. Para identificarlo, los partials y la clases CSS a aplicar están todas prefijadas con `ts` (por ejemplo, .ts-huge y ts_huge.njk). Las clases siguen la terminología <a href="http://getbem.com/introduction/">BEM</a>
            </p>
        </div>
        {% include "partials/content/ts_huge.njk" %}
        {% include "partials/content/ts_flotante.njk" %}
    </section>

    <div class="dev">
        <p>Cuidado! El diseño ts_flotante está preparado para que la imagen se alinee en la parte inferior y sobresalga por la parte superior. Dependiendo de la altura del texto que acompañe a la imagen, será necesario cambiar la relación de aspecto del recorte de imagen o modificar el texto.</p>
        <p><a href="./tsflotante.html" target="_blank" rel="noopener noreferrer">Ver ejemplos</a></p>
    </div>

    <section class="box">
        <div class="dev">
            <p>Algunos elementos, como el '>' después de la categoría (FIRMAS), se insertan directamente usando CSS por lo que no hace falta escribirlos</p>
        </div>
        <header class="section">
            <div class="section__category">
                Firmas
            </div>
            <h1 class="section__title">Editorial</h1>
        </header>
        <div class="dev">
            <p>En este teaser, como en muchos otros, la altura total de la caja depende de la altura del elemento más alto (usualmente, y en este caso, la imagen) y el texto se centra verticalmente respecto a esta altura.</p>
            <p>Esto significa que para conseguir una caja más baja basta con cambiar la relación de aspecto del recorte de la imagen.</p>
        </div>
        {% include "partials/content/ts_title.njk" %}
    </section>

    <section class="box">
        <header class="section">
            <div class="section__category">
                Firmas
            </div>
            <h1 class="section__title">Tribunas y debates</h1>
            <div class="dev">
                <p>Aqui se puede ver en acción un modificador BEM (clase seccion__subtitle--gris) para lograr el color gris</p>
            </div>
            <p class="section__subtitle seccion__subtitle--gris">Madrid, pieza capital</p>
        </header>

        {% include "partials/content/ts_2col.njk" %}

        <div class="dev">
            <p>El separador se trata como un elemento HTML diferente. De este modo, se puede insertar como y cuando sea neceario.</p>
        </div>

        <div class="separator"></div>

        <div class="dev">
            <p>En el siguiente tipo de teaser, el ancho de la imagen tiene prioridad y determina el espacio que tiene el texto (con un máximo para la imagen del 60%)</p>
            <p><a href="./tsbody.html" target="_blank" rel="noopener noreferrer">Ver ejemplos</a></p>
        </div>

        <div class="dev">
            <p>La clase modificadora 'ts-body--inverse' permite invertir el orden. Hay que acordarse también de modifiacr el HTML para poner la imagen después del texto</p>
        </div>

        {% include "partials/content/ts_body.njk" %}

    </section>

    <section class="box">
        <header class="section">
            <div class="section__category">
                Economía
            </div>
            <h1 class="section__title">Contexto Económico</h1>
            <p class="section__subtitle">Estado del Poder 2019</p>
        </header>

        <article class="ts ts-body ts-body--inverse">
            <div class="ts-body__img">
                <img src="http://placehold.it/400x500.jpg" alt="Imagenes">
            </div>
            <div class="ts-body__textos">
                <div class="dev">
                    <p>Se pueden usar variaciones también en elementos individuales como .ts-body__title</p>
                </div>
                <h1>
                    El capitalismo<br> financiero prepara<br> la recesión 2.0
                </h1>
                <p class="body body--big">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, libero ipsum facere quod fuga minus repellat quibusdam voluptas magnam sequi dolorem vero eius nam architecto adipisci veniam sunt sint. Optio!
                </p>
                <div class="autor autor--big">Walden Bello</div>
            </div>
        </article>

        {% include "partials/content/ts_tab.njk" %}

        <div class="subsection">
            Análisis
        </div>

        <div class="dev">
            <p>Repetimos ts_2col...</p>
        </div>

        {% include "partials/content/ts_2col.njk" %}

        <div class="separator"></div>

        <div class="dev">
            <p>.col2 y .col pueden ser reutilizados independiente del contenido</p>
        </div>

        <div class="col2">
            <div class="col">
                {% include "partials/content/ts_small.njk" %}
            </div>
            <div class="col">
                {% include "partials/content/ts_small.njk" %}
            </div>
        </div>

    </section>

    <div class="dev">
        <p>Se puede usar .col2 y .col en cualquier sitio, también <u>fuera</u> de un .box</p>
        <p>Este caso, que se resuelve mediante una combinación de casos anteriores, require el uso de clases como .m0 para eliminar algunos márgenes</p>
        <p>Conseguir equal heights (alturas iguales) en contenidos en dos columnas es bastante complicado. La clase especial .col2--equal-heights estira todos los elementos del tipo .box que haya en el interior de cada columna para lograr que se llegun a ocupar el 100% de la altura</p>
        <p>Aun así, se pueden generar espacios en blanco demasiado grandes si las alturas son muy diferentes.</p>
    </div>

    <div class="col2 col2--equal-heights">
        <div class="col">
            <section class="box m0">
                <header class="section">
                    <div class="section__category">
                        Entrevistas
                    </div>
                    <h1 class="section__title">Entrevista</h1>
                    <p class="section__subtitle">Santiago Alba Rico / Filósofo</p>
                </header>

                {% include "partials/content/ts_vertical.njk" %}

                <div class="subsection">
                    Hablando de racismo
                </div>

                <div class="dev">
                    <p>Ejemplo de cómo este teaser se puede solucionar recurriendo a .ts-body, sus modificadores y clases tipo .mb, .h3 y.autor--small en lugar de crear un nuevo tipo de ts</p>
                    <p><a href="/tsbody.html">Ver documentación de .ts-body</a></p>
                </div>

                <article class="m0 ts ts-body ts-body--inverse ts-body--center">
                    <div class="ts-body__img">
                        <img src="http://placehold.it/150x200.jpg" alt="Imagenes">
                    </div>
                    <div class="ts-body__textos">
                        <div class="autor autor--small mb">
                            Keeanga-Yamahtta Taylor<br> - 
                            Activista y Escritora
                        </div>
                        <h1 class="h3">
                            "El racismo se usa para dividir a la clase obrera"
                        </h1>
                        <div class="autor autor--small">Lucía Mbomío</div>
                    </div>
                </article>
                <div class="separator"></div>
                <article class="ts ts-body ts-body--inverse ts-body--center">
                    <div class="ts-body__img">
                        <img src="http://placehold.it/150x200.jpg" alt="Imagenes">
                    </div>
                    <div class="ts-body__textos">
                        <div class="autor autor--small mb">
                            Emilia Roig / Directora del <br> 
                            Center for Intersectional Justice
                        </div>
                        <h1 class="h3">
                            "El racismo sistémico está creciendo"
                        </h1>
                        <div class="autor autor--small">Anna Oakes</div>
                    </div>
                </article>

            </section>
        </div>

        <div class="col">
            <div class="mb">
                <img src="http://placehold.it/800x800.jpg" alt="Col">
            </div>
            <section class="box m0">

                <header class="section">
                    <div class="section__category">
                        Internacional
                    </div>
                    <h1 class="section__title">Oriente Medio</h1>
                    <p class="section__subtitle">Gran Reportaje</p>
                </header>

                <article class="ts ts-vertical">
                    <div class="ts-vertical__img">
                        <img src="http://placehold.it/400x300.jpg" alt="Imagen">
                    </div>
                    <h1>"Dios se ha olvidado<br> de nosotros"</h1>
                    <div class="body">El precio de una guerra en Líbano es demasiado elevado, pero esto puede cambiar. En el país confluyen todos los problemas de Oriente Medio.</div>
                    <div class="autor">
                        <span>Arnon Gruberg · Beirut</span>
                    </div> 
                </article>
            
            </section>
        </div>
    </div>

    <div class="dev">
        <p>Con elementos de igual altura, .col2 funciona a la perfección sin ayuda de modificadores</p>
    </div>

    <div class="col2 mb">
        <div class="col">
            <img src="http://placehold.it/800x800.jpg" alt="Placehold">
        </div>
        <div class="col">
            <img src="http://placehold.it/800x800.jpg" alt="Placehold">
        </div>
    </div>

    <section class="box">
        <header class="section">
            <div class="section__category">
                Comunicación
            </div>
            <h1 class="section__title">Comunicación</h1>
            <p class="section__subtitle">Manifiesto</p>
        </header>
        <article class="ts ts-body ts-body--inverse ts-body--expanded">
            <div class="ts-body__img">
                <img src="http://placehold.it/625x400.jpg" alt="Imagenes">
            </div>
            <div class="ts-body__textos">
                <h1>
                    Nace Ctxt.cat
                </h1>
                <p class="body body--big">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere aliquid perspiciatis eius repudiandae consequuntur velit odit.</p>
                <div class="autor autor--big">Mar Calpena</div>
            </div>
        </article>
    </section>

</div>

{% endblock %}