<!-- index.nunjucks -->
{% extends "layouts/layout.njk" %}

{% block content%}

<div id="main-wrapper">

    {% include "partials/header.njk" %}

    <div class="box box--gris-claro box--seccion">
        <header class="section">
            <div class="section__category">
                Viñetas
                <div class="section__decoration"></div>
            </div>
            <div class="section__title__wrapper">
                <h1 class="section__title">Viñetas</h1>
                <p class="section__subtitle">Opinión gráfica</p>
            </div>
        </header>
        <nav class="nav-lateral">
            <div class="nav-lateral__flecha"></div>
            <h1 class="nav-lateral__title">Multimedia</h1>
            <ul class="nav-lateral__menu">
                <li><a href="#">Uno</a></li>
                <li><a href="#">Dos</a></li>
                <li><a href="#">Tres</a></li>
                <li><a href="#">Cuatro</a></li>
                <li><a href="#">Cinco</a></li>
            </ul>
        </nav>
        <div class="vineta">
            <figure>
                <img src="http://placehold.it/800x450.jpg" alt="Imagen">
                <figcaption class="vineta__caption">
                    <p class="autor">JR Mora<span class="fecha">16/11/2019</span></p>
                    <p class="vineta__title">¡A por ello, oé!</p>
                </figcaption>
            </figure>
        </div>
        <div class="col3 col3--gutter">
            <div class="col">
                <div class="vineta vineta--small">
                    <figure>
                        <img src="http://placehold.it/800x450.jpg" alt="Imagen">
                        <figcaption class="vineta__caption">
                            <p class="autor">JR Mora<span class="fecha">16/11/2019</span></p>
                            <p class="vineta__title">¡A por ello, oé!</p>
                        </figcaption>
                    </figure>
                </div>
                <div class="vineta vineta--small">
                    <figure>
                        <img src="http://placehold.it/800x450.jpg" alt="Imagen">
                        <figcaption class="vineta__caption">
                            <p class="autor">JR Mora<span class="fecha">16/11/2019</span></p>
                            <p class="vineta__title">¡A por ello, oé!</p>
                        </figcaption>
                    </figure>
                </div>
                <div class="vineta vineta--small">
                    <figure>
                        <img src="http://placehold.it/800x450.jpg" alt="Imagen">
                        <figcaption class="vineta__caption">
                            <p class="autor">JR Mora<span class="fecha">16/11/2019</span></p>
                            <p class="vineta__title">¡A por ello, oé!</p>
                        </figcaption>
                    </figure>
                </div>
                <div class="vineta vineta--small">
                    <figure>
                        <img src="http://placehold.it/800x450.jpg" alt="Imagen">
                        <figcaption class="vineta__caption">
                            <p class="autor">JR Mora<span class="fecha">16/11/2019</span></p>
                            <p class="vineta__title">¡A por ello, oé!</p>
                        </figcaption>
                    </figure>
                </div>
                <div class="vineta vineta--small">
                    <figure>
                        <img src="http://placehold.it/800x450.jpg" alt="Imagen">
                        <figcaption class="vineta__caption">
                            <p class="autor">JR Mora<span class="fecha">16/11/2019</span></p>
                            <p class="vineta__title">¡A por ello, oé!</p>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col">
                <div class="vineta vineta--small">
                    <figure>
                        <img src="http://placehold.it/800x450.jpg" alt="Imagen">
                        <figcaption class="vineta__caption">
                            <p class="autor">JR Mora<span class="fecha">16/11/2019</span></p>
                            <p class="vineta__title">¡A por ello, oé!</p>
                        </figcaption>
                    </figure>
                </div>
                <div class="vineta vineta--small">
                    <figure>
                        <img src="http://placehold.it/800x450.jpg" alt="Imagen">
                        <figcaption class="vineta__caption">
                            <p class="autor">JR Mora<span class="fecha">16/11/2019</span></p>
                            <p class="vineta__title">¡A por ello, oé!</p>
                        </figcaption>
                    </figure>
                </div>
                <div class="vineta vineta--small">
                    <figure>
                        <img src="http://placehold.it/800x450.jpg" alt="Imagen">
                        <figcaption class="vineta__caption">
                            <p class="autor">JR Mora<span class="fecha">16/11/2019</span></p>
                            <p class="vineta__title">¡A por ello, oé!</p>
                        </figcaption>
                    </figure>
                </div>
                <div class="vineta vineta--small">
                    <figure>
                        <img src="http://placehold.it/800x450.jpg" alt="Imagen">
                        <figcaption class="vineta__caption">
                            <p class="autor">JR Mora<span class="fecha">16/11/2019</span></p>
                            <p class="vineta__title">¡A por ello, oé!</p>
                        </figcaption>
                    </figure>
                </div>
                <div class="vineta vineta--small">
                    <figure>
                        <img src="http://placehold.it/800x450.jpg" alt="Imagen">
                        <figcaption class="vineta__caption">
                            <p class="autor">JR Mora<span class="fecha">16/11/2019</span></p>
                            <p class="vineta__title">¡A por ello, oé!</p>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col">
                <div class="vineta vineta--small">
                    <figure>
                        <img src="http://placehold.it/800x450.jpg" alt="Imagen">
                        <figcaption class="vineta__caption">
                            <p class="autor">JR Mora<span class="fecha">16/11/2019</span></p>
                            <p class="vineta__title">¡A por ello, oé!</p>
                        </figcaption>
                    </figure>
                </div>
                <div class="vineta vineta--small">
                    <figure>
                        <img src="http://placehold.it/800x450.jpg" alt="Imagen">
                        <figcaption class="vineta__caption">
                            <p class="autor">JR Mora<span class="fecha">16/11/2019</span></p>
                            <p class="vineta__title">¡A por ello, oé!</p>
                        </figcaption>
                    </figure>
                </div>
                <div class="vineta vineta--small">
                    <figure>
                        <img src="http://placehold.it/800x450.jpg" alt="Imagen">
                        <figcaption class="vineta__caption">
                            <p class="autor">JR Mora<span class="fecha">16/11/2019</span></p>
                            <p class="vineta__title">¡A por ello, oé!</p>
                        </figcaption>
                    </figure>
                </div>
                <div class="vineta vineta--small">
                    <figure>
                        <img src="http://placehold.it/800x450.jpg" alt="Imagen">
                        <figcaption class="vineta__caption">
                            <p class="autor">JR Mora<span class="fecha">16/11/2019</span></p>
                            <p class="vineta__title">¡A por ello, oé!</p>
                        </figcaption>
                    </figure>
                </div>
                <div class="vineta vineta--small">
                    <figure>
                        <img src="http://placehold.it/800x450.jpg" alt="Imagen">
                        <figcaption class="vineta__caption">
                            <p class="autor">JR Mora<span class="fecha">16/11/2019</span></p>
                            <p class="vineta__title">¡A por ello, oé!</p>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>

    <div class="box box--gris-oscuro box--seccion">
        <header class="section">
            <div class="section__category">
                Contéxtame si puedes
                <div class="section__decoration"></div>
            </div>
            <div class="section__title__wrapper">
                <h1 class="section__title">Viñetas</h1>
                <p class="section__subtitle">Opinión gráfica</p>
            </div>
        </header>
        <nav class="nav-lateral">
            <div class="nav-lateral__flecha"></div>
            <h1 class="nav-lateral__title">Multimedia</h1>
            <ul class="nav-lateral__menu">
                <li><a href="#">Uno</a></li>
                <li><a href="#">Dos</a></li>
                <li><a href="#">Tres</a></li>
                <li><a href="#">Cuatro</a></li>
                <li><a href="#">Cinco</a></li>
            </ul>
        </nav>

        <article class="ts ts-flex">
            <div class="ts-flex__img mw-50">
                <img src="http://placehold.it/1000x500.jpg" alt="Imagen">
            </div>
            <div class="ts-flex__textos">
                <h1 class="h2">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
                <p class="body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam corrupti mollitia officia aperiam quidem harum eius ducimus doloribus repellendus vel nesciunt</p>
                <p class="autor">
                    Rafael Poch
                    <span class="fecha">12/13/2014</span>
                </p> 
            </div>
        </article>

        <div class="col3 col3--gutter">
            <div class="col">
                <article class="ts ts-vertical">
                    <div class="ts-vertical__img">
                        <img src="http://placehold.it/600x250.jpg" alt="Imagen">
                    </div>
                    <p class="subtitle">Lorem Ipsum</p>
                    <h1 class="h3">
                        <a href="articulo.html">"Dios se ha olvidado de nosotros</a>
                    </h1>
                    <p class="body body--small">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores, est officiis! Optio perferendis laudantium delectus, nemo tempora accusamus totam ullam sequi alias nulla! Cumque ea maiores nulla. Iste, quasi ad.
                    </p>
                    <p class="autor">
                        Aaron Grunenberg
                        <span class="fecha">Londres, 12/11/2016</span>
                    </p> 
                </article>
            </div>
            <div class="col">
                <article class="ts ts-vertical">
                    <div class="ts-vertical__img">
                        <img src="http://placehold.it/600x250.jpg" alt="Imagen">
                    </div>
                    <p class="subtitle">Lorem Ipsum</p>
                    <h1 class="h3">
                        <a href="articulo.html">"Dios se ha olvidado de nosotros</a>
                    </h1>
                    <p class="body body--small">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores, est officiis! Optio perferendis laudantium delectus, nemo tempora accusamus totam ullam sequi alias nulla! Cumque ea maiores nulla. Iste, quasi ad.
                    </p>
                    <p class="autor">
                        Aaron Grunenberg
                        <span class="fecha">Londres, 12/11/2016</span>
                    </p> 
                </article>
            </div>
            <div class="col">
                <article class="ts ts-vertical">
                    <div class="ts-vertical__img">
                        <img src="http://placehold.it/600x250.jpg" alt="Imagen">
                    </div>
                    <p class="subtitle">Lorem Ipsum</p>
                    <h1 class="h3">
                        <a href="articulo.html">"Dios se ha olvidado de nosotros</a>
                    </h1>
                    <p class="body body--small">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores, est officiis! Optio perferendis laudantium delectus, nemo tempora accusamus totam ullam sequi alias nulla! Cumque ea maiores nulla. Iste, quasi ad.
                    </p>
                    <p class="autor">
                        Aaron Grunenberg
                        <span class="fecha">Londres, 12/11/2016</span>
                    </p> 
                </article>
            </div>
        </div>
    </div>

    <div class="box box--seccion">
        <header class="section">
            <div class="section__category">
                Fotogalerías
                <div class="section__decoration"></div>
            </div>
            <div class="section__title__wrapper">
                <h1 class="section__title">Lorem Ipsum</h1>
                <p class="section__subtitle">Rolem Pisum Morles Simpus</p>
            </div>
        </header>
        <nav class="nav-lateral">
            <div class="nav-lateral__flecha"></div>
            <h1 class="nav-lateral__title">Multimedia</h1>
            <ul class="nav-lateral__menu">
                <li><a href="#">Uno</a></li>
                <li><a href="#">Dos</a></li>
                <li><a href="#">Tres</a></li>
                <li><a href="#">Cuatro</a></li>
                <li><a href="#">Cinco</a></li>
            </ul>
        </nav>
        <article class="ts ts-vertical tc">
            <div class="carousel carousel--flechas mb">
                <div class="carousel__slides">
                    <div class="carousel__item"><img src="http://placehold.it/1200x800.jpg" alt="Image"></div>
                    <div class="carousel__item"><img src="http://placehold.it/1200x800.jpg" alt="Image"></div>
                    <div class="carousel__item"><img src="http://placehold.it/1200x800.jpg" alt="Image"></div>
                    <div class="carousel__item"><img src="http://placehold.it/1200x800.jpg" alt="Image"></div>
                    <div class="carousel__item"><img src="http://placehold.it/1200x800.jpg" alt="Image"></div>
                </div>
                <div class="carousel__controls">
                    <button class="carousel__prev">&lt; <span class="visually-hidden">Anterior</span></button>
                    <div><span class="carousel__number">1</span> de <span class="carousel__total"></span></div>
                    <button class="carousel__next">&gt; <span class="visually-hidden">Siguiente</span></button>
                </div>
            </div>
            <h1 class="h2">
                <a href="articulo.html">"Dios se ha olvidado de nosotros</a>
            </h1>
            <p class="body body--small">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores, est officiis! Optio perferendis laudantium delectus, nemo tempora accusamus totam ullam sequi alias nulla! Cumque ea maiores nulla. Iste, quasi ad.
            </p>
            <p class="autor">
                Aaron Grunenberg
                <span class="fecha">Londres, 12/11/2016</span>
            </p> 
        </article>

        <div class="separator"></div>

        <div class="col2 col2--gutter">
            <div class="col">
                <article class="ts ts-vertical tc">
                    <div class="ts-vertical__img">
                        <img src="http://placehold.it/1000x600.jpg" alt="Imagen">
                    </div>
                    <p class="subtitle">Lorem Ipsum</p>
                    <h1 class="h3">
                        <a href="articulo">Corbyn acusa a Johnson de querer vender el sistema de salud británico a Estados Unidos</a>
                    </h1>
                    <p class="body">
                        El liderl laborista muestra que Theresa May negoció con EEUU la inclusión del sistema de salud.
                    </p>
                    <p class="autor">
                        Guillem Martínez
                        <span class="fecha">Londres, 12/11/2016</span>
                    </p> 
                </article>
            </div>
            <div class="col">
                <article class="ts ts-vertical tc">
                    <div class="ts-vertical__img">
                        <img src="http://placehold.it/1000x600.jpg" alt="Imagen">
                    </div>
                    <p class="subtitle">Lorem Ipsum</p>
                    <h1 class="h3">
                        <a href="articulo">Lorem ipsum dolor sit.</a>
                    </h1>
                    <p class="body">
                        El lider laborista muestra que Theresa May negoció con EEUU la inclusión del sistema de salud.
                    </p>
                    <p class="autor">
                        Guillem Martínez
                        <span class="fecha">Londres, 12/11/2016</span>
                    </p> 
                </article>
            </div>
        </div>
    </div>

    {% include 'partials/footer.njk' %}

</div> <!-- MAIN WRAPPER -->

{% endblock %}