<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>Ctxt.es</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <style>
        img {
            max-width:100%;
        }
    </style>


  </head>
  <body>

    <picture>
    
        <source media="(max-width: 480px)"
            srcset="./images/ad_small.jpeg">

        <source media="(min-width: 481px)"
            srcset="./images/ad_big.jpeg">

        <img src="./images/ad_big.jpeg" alt="Ad">

    </picture>

  </body>
</html>