<!-- index.nunjucks -->
{% extends "layouts/layout.njk" %}

{% block content%}

<div id="main-wrapper">

    <article class="card">
        <p class="minititle">Teaser Body</p>
        <article class="ts ts-body">
            <div class="ts-body__textos">
                <h1 class="ts-body__title">
                    Esto es un título y poco más puedo decir
                </h1>
                <p class="ts-body__body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, libero ipsum facere quod fuga minus repellat quibusdam voluptas magnam sequi dolorem vero eius nam architecto adipisci veniam sunt sint. Optio!
                </p>
                <div class="ts-autor__autor autor">Pablo Casado</div>
            </div>
            <div class="ts-body__img">
                <img src="http://placehold.it/600x400.jpg" alt="Imagenes">
            </div>
        </article>
    </article>

    <article class="card">
        <p class="minititle">Una imagen muy ancha puede tomar hasta el 60% del espacio. El texto se adapta.</p>
        <article class="ts ts-body">
            <div class="ts-body__textos">
                <h1 class="ts-body__title">
                    Esto es un título y poco más puedo decir
                </h1>
                <p class="ts-body__body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, libero ipsum facere quod fuga minus repellat quibusdam voluptas magnam sequi dolorem vero eius nam architecto adipisci veniam sunt sint. Optio!
                </p>
                <div class="ts-autor__autor autor">Pablo Casado</div>
            </div>
            <div class="ts-body__img">
                <img src="http://placehold.it/1900x800.jpg" alt="Imagenes">
            </div>
        </article>
    </article>

    <article class="card">
        <p class="minititle">Una imagen muy estrecha permite al texto ampliar su espacio</p>
        <article class="ts ts-body">
            <div class="ts-body__textos">
                <h1 class="ts-body__title">
                    Esto es un título y poco más puedo decir
                </h1>
                <p class="ts-body__body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, libero ipsum facere quod fuga minus repellat quibusdam voluptas magnam sequi dolorem vero eius nam architecto adipisci veniam sunt sint. Optio!
                </p>
                <div class="ts-autor__autor autor">Pablo Casado</div>
            </div>
            <div class="ts-body__img">
                <img src="http://placehold.it/250x300.jpg" alt="Imagenes">
            </div>
        </article>
    </article>




{% endblock %}