<!-- index.nunjucks -->
{% extends "layouts/layout.njk" %}

{% block content%}

<div id="main-wrapper">
    {% include 'partials/docs_menu.njk' %}
    <article class="body box">
        <h1 class="font-secondary">Teaser Flex</h1>
        <hr>
        <p>El teaser "flexible" (flex) es el más genérico y maleable de todos. Se distingue porque distribuye el contenido en dos columnas (imagen y textos) y <strong>no fuerza ningún tamaño predefinido a cada columna.</strong> </p>
        <p>Es decir, el teaser será tan alto como el elemento más alto y la anchura de cada columna dependerá del espacio disponible. <strong>Generalmente, el tamaño y relación de aspecto de la imagen serán el principal factor a tener en cuenta.</strong> Para evitar desajustes, se ha impuesto un límite del 60% del ancho en la imagen.</p>
        <p>El teaser flex también incluye clases modificadoras para cambiar el orden de las columnas y modificar la alineación vertical de los elementos.</p>
    </article>
    <article class="card">
        <p class="minititle">Teaser Flex</p>
        <article class="ts ts-flex">
            <div class="ts-flex__textos">
                <h1>
                    Esto es un título y poco más puedo decir
                </h1>
                <p class="body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, libero ipsum facere quod fuga minus repellat quibusdam voluptas magnam sequi dolorem vero eius nam architecto adipisci veniam sunt sint. Optio!
                </p>
                <div class="autor">Pablo Casado</div>
            </div>
            <div class="ts-flex__img">
                <img src="http://placehold.it/600x400.jpg" alt="Imagenes">
            </div>
        </article>
    </article>

    <article class="card">
        <p class="minititle">Una imagen muy ancha puede tomar hasta el 60% del espacio. El texto se adapta.</p>
        <article class="ts ts-flex">
            <div class="ts-flex__textos">
                <h1>
                    Esto es un título y poco más puedo decir
                </h1>
                <p class="body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, libero ipsum facere quod fuga minus repellat quibusdam voluptas magnam sequi dolorem vero eius nam architecto adipisci veniam sunt sint. Optio!
                </p>
                <div class="autor">Pablo Casado</div>
            </div>
            <div class="ts-flex__img">
                <img src="http://placehold.it/1900x800.jpg" alt="Imagenes">
            </div>
        </article>
    </article>

    <article class="card">
        <p class="minititle">Una imagen muy estrecha permite al texto ampliar su espacio</p>
        <article class="ts ts-flex">
            <div class="ts-flex__textos">
                <h1>
                    Esto es un título y poco más puedo decir
                </h1>
                <p class="body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, libero ipsum facere quod fuga minus repellat quibusdam voluptas magnam sequi dolorem vero eius nam architecto adipisci veniam sunt sint. Optio!
                </p>
                <div class="autor">Pablo Casado</div>
            </div>
            <div class="ts-flex__img">
                <img src="http://placehold.it/250x300.jpg" alt="Imagenes">
            </div>
        </article>
    </article>

    <article class="card">
        <p class="minititle">Puede adaptarse a espacios menores, aunque se recomienda reducir el tamaño de los títulos, prescindir del resumen, etc...</p>
        <article class="ts ts-flex" style="width:500px">
            <div class="ts-flex__textos">
                <h1 class="h3">
                    Esto es un título y poco más puedo decir
                </h1>
                <div class="autor">Pablo Casado</div>
            </div>
            <div class="ts-flex__img">
                <img src="http://placehold.it/150x150.jpg" alt="Imagenes">
            </div>
        </article>
    </article>

    <article class="card">
        <p class="minititle">El modificador ts-flex--inverse permite cambiar la imagen de sitio</p>
        <article class="ts ts-flex ts-flex--inverse">
            <div class="ts-flex__img">
                <img src="http://placehold.it/450x300.jpg" alt="Imagenes">
            </div>
            <div class="ts-flex__textos">
                <h1>
                    Esto es un título y poco más puedo decir
                </h1>
                <p class="body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, libero ipsum facere quod fuga minus repellat quibusdam voluptas magnam sequi dolorem vero eius nam architecto adipisci veniam sunt sint. Optio!
                </p>
                <div class="autor">Pablo Casado</div>
            </div>
        </article>
    </article>

    <article class="card">
        <p class="minititle">Si los elementos tienen alturas diferentes, es normal que se genere espacio blanco. Las clases .ts-flex--center, .ts-flex__bottom y .ts-flex__expanded permiten cambiar el modo en que texto e imagen se alinean verticalmente:</p>
        <article class="ts ts-flex ts-flex--center">
            <div class="ts-flex__textos">
                <h1>
                    Esto es un título y poco más puedo decir
                </h1>
                <p class="body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, libero ipsum facere quod fuga minus repellat quibusdam voluptas magnam sequi dolorem vero eius nam architecto adipisci veniam sunt sint. Optio!
                </p>
                <div class="autor">Pablo Casado</div>
            </div>
            <div class="ts-flex__img">
                <img src="http://placehold.it/450x500.jpg" alt="Imagenes">
            </div>
        </article>
        <article class="ts ts-flex ts-flex--bottom">
            <div class="ts-flex__textos">
                <h1>
                    Esto es un título y poco más puedo decir
                </h1>
                <p class="body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, libero ipsum facere quod fuga minus repellat quibusdam voluptas magnam sequi dolorem vero eius nam architecto adipisci veniam sunt sint. Optio!
                </p>
                <div class="autor">Pablo Casado</div>
            </div>
            <div class="ts-flex__img">
                <img src="http://placehold.it/450x500.jpg" alt="Imagenes">
            </div>
        </article>
        <article class="ts ts-flex ts-flex--expanded">
            <div class="ts-flex__textos">
                <h1>
                    Esto es un título y poco más puedo decir
                </h1>
                <p class="body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, libero ipsum facere quod fuga minus repellat quibusdam voluptas magnam sequi dolorem vero eius nam architecto adipisci veniam sunt sint. Optio!
                </p>
                <div class="autor">Pablo Casado</div>
            </div>
            <div class="ts-flex__img">
                <img src="http://placehold.it/450x500.jpg" alt="Imagenes">
            </div>
        </article>
    </article>


{% endblock %}