

.ts-col {
    margin-bottom:0;
    img {
        margin-bottom: $gutter * 2;
    }
}

.col2 {
    .col.ts-col {
        max-width:100%;
    }
    .col.ts-col:first-child {
        padding-right: $gutter * 3;
        border-right:1px solid $gray;
    }
    .col.ts-col:last-child {
        padding-left: $gutter * 3;
        border-left:1px solid $gray;
    }
}
