.ts-body {
    display:flex;
}

.ts-body__textos {
    flex:1;
}

.ts-body__img {
    max-width:60%;
    padding-left: $gutter * 2;
}

.ts-body--inverse {
    .ts-body__img {
        padding-left:0;
        padding-right: $gutter * 2;
    }
}