.ts-flex {
    display:flex;
}

.ts-flex__textos {
    flex:1;
}

.ts-flex__img {
    max-width:60%;
    padding-left: $gutter * 2;
}

.ts-flex--inverse {
    .ts-flex__img {
        padding-left:0;
        padding-right: $gutter * 2;
    }
}

.ts-flex--center {
    align-items: center;
}

.ts-flex--bottom {
    align-items: flex-end;
}

.ts-flex--expanded {
    .ts-flex__textos {
        display:flex;
        flex-direction:column;
        justify-content: space-around;
    }
}