.ts-flex {        
    display:flex;
    flex-direction:column;
    @include breakpoint(max-width $medium) {
        text-align:center;
        .body {
            margin-left: auto;
        }
    }
    @include breakpoint($medium) {
        flex-direction:row;
    }
}

.ts-flex__textos {
    order:2;
    @include breakpoint($medium) {
        order:unset;
        flex:1;
    }
}

.ts-flex__img {
    margin-bottom: $gutter;
    order:1;
    @include breakpoint($medium) {
        order:unset;
        margin-bottom: 0;
        max-width:60%;
        padding-left:0;
        padding-right: $gutter * 2;
        .ts--reducido & {
            padding-right: $gutter;
        }
    }
}

.ts-flex--inverse {
    @include breakpoint($medium) {
        .ts-flex__img {
            padding-left: $gutter * 2;
            padding-right: 0;
            .ts--reducido & {
                padding-left: $gutter;
            }
        }
    }
}

@include breakpoint($medium) {
    .ts-flex--center {
        align-items: center;
    }

    .ts-flex--bottom {
        align-items: flex-end;
    }

    .ts-flex--expanded {
        .ts-flex__textos {
            display:flex;
            flex-direction:column;
            justify-content: space-around;
        }
    }
}