.ts-flotante {
    @include breakpoint($medium){
        @include ritmo-top-border($lines: $base-line-multi);
        @include ritmo-bottom-border($lines: $base-line-multi);
        border-top-color: $separator-color;
        border-bottom-color: $separator-color;
        border-top-style:solid;
        border-bottom-style:solid;
        display:flex;
        justify-content:space-between;
        margin-top: $ts-margin * 2;
    } 
    @include breakpoint($large){
        padding-left: $gutter;
        padding-right: $gutter * 2;
    }
}

.ts-flotante--inverse {
    margin-top:0;
    @include breakpoint($medium){
        margin-bottom: $ts-margin * 2 !important;
        .ts-flotante__img {
            img {
                position:absolute;
                top:0;
                right:0;
                bottom: auto;
                left:0;
                height:auto;
            }
        }
    }

}

.ts-flotante__textos {
    margin-bottom: $gutter;
    @include breakpoint($medium){
        margin-bottom:0;
        width: 50%;
        padding-right: $gutter;
    }
}

.ts-flotante__img {
    @include breakpoint($medium){
        width:50%;
        position:relative;
        img {
            position:absolute;
            bottom:0;
            right:0;
            left:0;
            height:auto;
        }
    }
}