.ts-vertical {
    @include breakpoint($medium) {
        text-align:center;
    }
    // @include breakpoint($small) {
    //     &.tc .body {
    //         margin-bottom: $gutter * 2;
    //         padding: 0 $gutter;
    //     }
    //     &.tc h1 {
    //         padding: 0 $gutter;
    //     }
    // }
    .body {
        margin-bottom: $gutter;
    }
}

.ts-vertical__img {
    margin-bottom: $gutter;
    img {
        margin: 0 auto;
    }
}